.accordion {

    &__intro {
        padding-bottom: 5rem;

        @include above(sm) {
            padding-bottom: 8rem;
        }
    }

    &__item {
        margin-bottom: 2rem;

        &:last-child() {
            margin-bottom: 0;
        }
    }

    &__wrapper {

        &.is-active {

            svg {
                transform: rotate(0deg);
            }
        }
    }

    &__title {
        background: $white;
        cursor: pointer;
        padding: 1.5rem;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: .3s;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;
        border-radius: 1rem;

        @include below(xs) {
            font-size: 1.6rem;
        }

        svg {
            fill: $black;
            width: 2rem;
            height: 2rem;
            transform: rotate(-180deg);
        }
    }

    &__panel {
        padding: 0 1.5rem;
        overflow: hidden;
        background: $white;
        height: 0;
        top: -1rem;
        position: relative;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;

        a:not(.accordion__link) {
            transition: all ease .3s;
            color: $color-body;
        }
    }

    &__text {
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }

    &__link {
        background: $green;
        color: white;
        display: block;
        width: calc(100% + 3rem);
        left: -1.5rem;
        padding: 1.5rem 0rem;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        position: relative;
        text-align: center;
        bottom: 0;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-family: $font-headings;
    }
}