.btn {
	display: inline-block;
	padding: 1.5rem 3rem;
	border-radius: 5rem;
	text-transform: uppercase;
	font-family: $font-headings;
	font-size: 1.6rem;

	&--wide {
		padding: 1.5rem 5rem;
	}

	&--tag {
		font-size: 1.6rem;
		font-family: $font-body;
		text-transform: initial;
		margin: 1rem;
		border-radius: 2.5rem;
		padding: .5rem 1.5rem;
	}

	&--grey {
		background: $grey;
		color: $color-body;
	}

	&--green {
		background: $green;
		color: $white;
	}

	&--black {
		background: $black;
		color: $white;
	}

	&--back {
		position: absolute;
		top: 1.5rem;
		left: 3rem;
		background: $grey;
		display: flex;
		align-items: center;
		border-radius: 2.5rem;
		padding: 1rem 1.5rem;
		text-transform: uppercase;
		font-family: $font-headings;
		font-size: 1.4rem;
		cursor: pointer;

		svg {
			height: 2rem; 
			margin-right: 1rem;
		}

		span {
			line-height: 1;
		}

		@include above (xs) {
			left: calc(1.5rem + 3rem);
		}

		@include above (sm) {
			left: calc(1.5rem + 5rem);
		}
	}
}

