#form {
	height: 0;
	opacity: 0;
}

#cf-context {
	width: 100%;
	height: 100%;
	z-index: 0;
}

.conversational {

	&-form-inner {
		padding: 0 !important;	
		font-family: $font-body; 

		.user text p {
			background: $green;
			color: $white;
		}

		.robot text p {
			background: $grey;
			color: $black;
		}

		.peak-thumb thumb {
			background-size: contain;
			background-color: $grey;
		}
	}
}

.cf-input-button {
	background: $green !important;
	border-radius: 50% !important;
	width: 3.5rem !important;
	height: 3.5rem !important;
	bottom: auto !important;
	right: 1.5rem !important;
}

.cf-icon-progress {
	background-size: 3.3rem 3.3rem !important; 
}

.cf-button {
	background: $grey !important;
	border: none !important; 

	&:hover {
		background: $green !important;
	}
}

.cf-checkbox-button:checked {
	background: $green !important;
}

.inputWrapper {
    display: flex;
    align-items: center;

	input, textarea {
		width: 100%;
    	border-radius: 1.5rem;
    	left: .1rem;
    	font-family: $font-body; 
    	@include border(
			$width: .2rem
		);

		&:focus {
			box-shadow: none;
		}
	}
}

.hf {

	&-form {

	}

	&-fields-wrap {
		display: inline-block;
	}

	&-fields {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
	}

	&-field {
		padding: 1rem 0rem;
		width: 100%;

		&:first-child() {
			padding-top: 0;
		}

		label {
			font-family: $font-headings;
			display: block;
			line-height: 1;
			margin-bottom: 1.5rem;

			span {
				color: $red;
			}
		}

		input, textarea {
			width: 100%;
			padding: 1.5rem;
			border: none;
			font-size: 1.6rem;
			border-radius: 1.5rem;
			-webkit-appearence: none;

			&:focus {
				outline: none;
			}
		}

		textarea {
			min-height: 15rem;
		}
	}

	&-btn {
		width: 100%;
		padding-top: 3rem;

		input {
			border: none;
			outline: none;
			@extend .btn, .btn--green, .btn--wide;
		}
	}

	&-message {
		padding: 1rem;

		&-warning {
			color: $red;
		}
	}	
}