.modal {
  z-index: 9999999999;
  height: calc(100% - 10rem);
  transform: translateY(100vh);
  transition: all .4s cubic-bezier(.77,0,.175,1);
  overflow-y: scroll;
  position: fixed;
  width: 100%;
  bottom: 0;

  @include above(sm) {
    height: calc(100% - 20rem);
  }

  &__container {
    @extend .wrap, .hpad, .flex, .flex--hvalign;
    height: 100%;
    background: $white;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    position: relative;
    overflow: hidden;
  }

  &__close {
    background: $grey;
    border-radius: 50%;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all $easeElastic .3s;
    z-index: 10;

    svg {
      width: 1.5rem;

      path {
        fill: $black;
      }
    }
  }
}