.pagination {
	padding-top: 3rem;

	@include above (sm) {
		padding-top: 5rem;
	}

	&__nav {

		a {
			background: $grey;
			border-radius: 50%;
			width: 4rem;
			height: 4rem;
			display: flex;
			align-items: center;
			justify-content: center;

			svg {
				width: .7rem;
				height: auto;

				path {
					fill: $black;
				}
			}
		}
	}

	&__next {
		margin-left: 1.5rem;
	}

	&__previous {
		margin-right: 1.5rem;
	}

	.page-numbers {
		color: $grey;

		&.current {
			color: $black;
		}
	}
}