.blog {

	&__notifications {
		display: inline-block;
		padding: 0;		
		margin-bottom: 1.5rem;
		color: $color-body;

		&:last-child {
			margin-bottom: 0;
		}

		p {
			margin-bottom: 0;
		}

		&-count {
			background: $red;
			color: $white;
			font-size: 1.2rem;
			position: absolute;
			right: 0;
			top: 0;
			border-radius: 50%;
			width: 2rem;
			height: 2rem;
			text-align: center;
			border: .3rem solid $white;
		}

		&-header {
			margin-bottom: 2rem;
		}

		&-content {
			display: flex;
		}

		&-title {
			font-size: 1.4rem;
		}

		&-thumb {
			max-width: 5rem;
			max-height: 5rem;
			border-radius: 50%;
			margin-right: 1.5rem;

			&--placeholder {
				background-image: url('/wp-content/themes/lionlab_v3/assets/img/pictureicon.svg');
				background-size: contain;
				background-position: center center;
				background-repeat: no-repeat;
				width: 10rem;
				height: 5rem;
				background-color: #C0C9CA;
			}
		}

		&-meta {
			display: block;
			font-size: 1.3rem;
		}

		&-btn {
			background: $green;
			color: $white;
			display: block;
			width: calc(100% + 3rem);
			left: - 1.5rem;
			padding: 1.5rem 0rem;
			border-bottom-right-radius: 1.3rem;
			border-bottom-left-radius: 1.3rem;
			position: relative;
			text-align: center;
			bottom: - 1.5rem;
			font-size: 1.4rem;
			text-transform: uppercase;
			font-family: $font-headings;
		}
	}

	&__controls {
		position: relative;
		z-index: 20;
		margin-bottom: 1rem;
		width: 100%;
		@extend .flex, .flex--justify, .flex--wrap;

		@include below(sm) {
			display: none;
		}
	}

	&__filter-wrap {
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;
	}

	&__filter {
		cursor: pointer;
		margin: 1rem 3rem;

		&--dropdown {
			margin: 0;
			display: flex;
			align-items: center;

			&:hover {
				cursor: pointer;
			}

			svg {
				width: 1rem;
				height: auto;
				transform: rotate(180deg) translateZ(0);
				transition: all .8s $easeInOutQuint; 
				margin-left: 1rem;	
			}

			&.is-active {

				svg {
					transform: rotate(0deg) translateZ(0); 
				}
			}
		}
	}

	&__container {
		@extend .wrap, .hpad;
	}

	&__row {
		@extend .row, .flex, .flex--wrap;
	}

	&__post {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		color: $white;
		background: no-repeat center center;
		background-size: cover;
		float: left;
		padding: 3rem;
		border-radius: 2.5rem;
		overflow: hidden;
		min-height: 40rem;
		width: calc(100% - 3rem);
		margin: 1.5rem;
		background-color: #C0C9CA;
		@include overlay(
			$height: 50%,
			$opacity: .8
		);

		@include above (sm) {
			min-height: 50rem;
			width: calc(100% - 3rem);
		}

		@include above (md) {
			min-height: 55rem;
			width: calc(50% - 3rem);
		}

		@include above (lg) {
			min-height: 65rem;
		}

		&--placeholder {
			background-image: url('/wp-content/themes/lionlab_v3/assets/img/pictureicon.svg');
			background-size: contain;
		}
	}

	&__wrap {
		z-index: 10;
		position: relative;
		padding: 0;

		@include above (sm) {
			padding: 0rem 3rem;
		}
	}

	&__title {
		color: $white;
		position: relative;
		z-index: 10;
		margin-bottom: 0;
    	margin-top: 2.5rem;

    	@include above (sm) {
			margin-bottom: 2.5rem;
		}
	}
}