//Cäses 🧀
.cases {

	&__container {
		@extend .wrap, .hpad;
	}

	&__row {
		@extend .row, .flex, .flex--wrap;
	}

	&__item {
		background: no-repeat center center $black;
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		color: $white;
		padding: 3rem;
		border-radius: 2.5rem;
		overflow: hidden;
		width: calc(100% - 3rem);
		min-height: 40rem;
		margin: 1.5rem;

		@include overlay(
			$height: 50%,
			$opacity: 1
		);

		@include above (sm) {
			min-height: 50rem;
			width: calc(100% - 3rem);
		}

		@include above (md) {
			min-height: 55rem;
			width: calc(50% - 3rem);
		}

		@include above (lg) {
			min-height: 65rem;
		}

		&:hover {

		}

		&--large {
			@include overlay(
				$height: 50%,
				$opacity: .8
			);

			@include above (sm) {
				min-height: 55rem;
				margin: 1.5rem;
				width: 100%;
			}
		}
	}

	&__reference {
		align-self: flex-start;
		padding: 3rem;
		margin: 1.5rem;
		border-radius: 2.5rem;
		width: calc(100% - 3rem);
		background: $green;
		color: $white;

		@include above (sm) {
			font-size: 2.4rem;
			margin: 1.5rem;
			padding: 5rem;
		}

		@include above (md) {
			width: calc(50% - 3rem);
		}

		&-wrap {
			padding-top: 1.5rem;
			@extend .flex, .flex--wrap, .flex--justify, .flex--center;

			@include above (sm) {
				padding-top: 5rem;
			}
		}

		&-rating {
			display: flex;
			padding-bottom: 3rem;

			@include above (sm) {
				padding-bottom: 5rem;
			}	

			svg {
				width: 3rem;
				height: 3rem; 
				margin-left: .3rem; 
				line-height: 1;

				&:first-child {
					margin-left: 0;
				}
			}
		}

		&-img {
			width: 5.1rem;
			height: 5.1rem;
			background: $grey;
			border-radius: 50%;
			padding: .5rem;
		}
	}

	&__wrap {
		z-index: 10;
		position: relative;
		padding: 0;

		@include above (sm) {
			padding: 0rem 3rem;	
		}
	}

	&__header {
		z-index: 10;
		position: relative;
	}

	&__title {
		color: $white;
		margin-top: 2.5rem;

		@include above (sm) {
			margin-bottom: 2.5rem;
		}

		&--meta {
			margin-bottom: 2.5rem;
			margin-top: 2.5rem;
		}
	}

	&__link {
		align-self: flex-end;
		margin-bottom: .5rem;
	}
}