.client-results {

	&__container {
		@extend .wrap, .hpad;
	}

	&__row {
		@extend .row, .flex, .flex--wrap;
	}

	&__intro, &__results {
		@extend .col-sm-6;	
	}

	&__intro {
		@extend .col-sm-10, .col-sm-offset-1;
		text-align: center;
		padding-bottom: 5rem; 	
	}

	&__results {

		@include below (md) {
			width: 100%;
		}

		@extend .col-md-8, .col-md-offset-2;
	}


	&__header {
		padding-bottom: 3rem;
	}

	&__item {
		border-radius: 2.5rem;
		@include border(
			$width: .2rem
		);
		@extend .col-xs-12, .flex, .flex--center;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	&__img {
		flex: 2.5%;
		margin-right: 1.5rem;

		img {
			vertical-align: middle;
			background: $grey;
			border-radius: 50%;
			padding: .5rem;
			max-width: 5.1rem;
			max-height:	5.1rem;
		}
	}

	&__title {
		margin: 0;
		flex: 33.3%;
		font-family: $font-headings;
		display: none;

		@include above (xs) {
			display: block;
		}		

		@include above (sm) {
			margin-left: 1.5rem;
		}
	}

	&__btns {
		font-size: 1.4rem;
		flex: 33.3%;
		font-family: $font-headings;
	}

	&__btn {
		margin: .5rem;
		padding: .8rem 1.5rem;
		border-radius: .5rem;
	}

	&__text {
		margin: 0;
		flex: 33.3%;
		font-family: $font-headings;
		font-size: 1.6rem;
	}

	&__result {
		font-size: 1.4rem;
		font-family: $font-headings;
		color: $green;
		display: flex;
		align-items: center;

		svg {
			margin-left: .5rem;
		}

		@include above (sm) {
			margin-right: 1.5rem;
		}
	}
}