.contact {

	@include below (sm) {
		padding-top: 5rem!important;
	}

	&--img {
		position: relative;

		&:before {
			position: absolute;
			width: 100%;
			bottom: 0;
			left: 0;
			height: 50%;
			background: $grey;
			content: '';
			z-index: -1;
		}
	}

	&__container {
		@extend .wrap, .hpad;
	}

	&__img {
		border-radius: 2.5rem;
		background: no-repeat center center;
		background-size: cover;
		min-height: 35rem;

		@include between (xs, sm) {
			min-height: 40rem;
		}
		
		@include above (sm) {
			min-height: 45rem;
		}

		@include above (md) {
			min-height: 50rem;
		}

		@include above (lg) {
			min-height: 55rem;
		}
	}

	&__col {
		@extend .center;
		border-radius: 2.5rem;
		padding: 5rem 3rem;

		p {

			&:last-child() {
				margin-bottom: 0;
			} 
		}
	}

	&__title {
		padding-bottom: 2.5rem;
	}

	&__btn {
		margin-top: 2.5rem;
		@extend .btn, .btn--wide, .btn--green;
	}
}