.cta {

	&__row {
		border-radius: 2.5rem;
		overflow: hidden;
		position: relative;
		background: $grey;

		@extend .flex, .flex--wrap;
	}

	&__header {
		padding-bottom: 5rem;
	}

	&__text, &__form {
		padding: 3rem 1.5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		
		@include below (md) {
			width: 100%;
		}

		@extend .col-md-6;

		@include between (xs, sm) {
			padding: 3rem;
		}

		@include above(sm) {
			padding: 5rem;
		}
	}

	&__text {

		@include below(md) {
			padding-bottom: 11rem;
		}

		@include above(md) {
			padding: 5rem;
			padding-right: 15rem;
		}

		&--contact {

			@include above(sm) {
				padding-right: 5rem;
			}
		}

		&-wrap {
			display: flex;
			padding-top: 5rem;
		}

		&-link {
			width: 5.4rem;
			height: 5.4rem;
			background: $grey;
			border-radius: 50%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			& + & {
				margin-left: 1rem;
			}

			svg {
				height: 2rem;
				width: auto;

				path {
					fill: $black;
				}
			}
		}
	}

	&__form {
		
		@include above(md) {
			padding-left: 15rem;
		} 

		&--contact {

			@include above(sm) {
				padding-left: 5rem;
			}
		}
	}

	&__employees {
		width: 18.6rem;
		height: 18.6rem;
		background: $grey;
		border-radius: 50%;
		position: relative;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;
		display: flex;
    	flex-direction: column;
    	align-items: center;
    	justify-content: center;

		@include below(md) {
			margin-bottom: -11rem;
		}

		@include above(md) {
			position: absolute;
			width: 22.6rem;
			height: 22.6rem;
		}

		&-img {
			position: absolute;
		}
	}
}