.employee {

	&--contact {
		position: relative;

		@include above (sm) {
			top: -15rem;
			margin-bottom: -15rem;
		}
	}

	&__container {
		@extend .wrap, .hpad;
	}

	&__row {
		@extend .row, .flex, .flex--wrap;
	}
		
	&__item {
		margin-top: 2rem;
		margin-bottom: 2rem;
		display: flex;
		flex-direction: column;
		@extend .col-xs-6;
		@extend .col-sm-4;
		@extend .col-md-3;

		img, video {
			border-radius: 2.5rem;
			background: $yellow; 
		} 

		video {
			width: 100%;
		}
	}

	&__wrap {
		position: relative;
    	display: flex;
    	flex-direction: column;
	}

	&__linkedin {
		position: absolute;
	    bottom: 1.5rem;
	    right: 1.5rem;
	    background: $grey;
	    border-radius: 50%;
	    width: 4rem;
	    height: 4rem;
	    display: flex;
	    align-items: center;
	    justify-content: center;

	    svg {
	    	width: 1.5rem;

	    	path {
	    		fill: $black;
	    	}
	    }
	}

	&__position {
		margin-bottom: 1.5rem;
	}

	&__name {
		margin-bottom: 1.5rem;
	}

	&__position, &__link {
		font-size: 1.6rem;
	}

	&__position {
		color: $yellow;
		margin-top: 1.5rem;
	}

	&__link {
		color: $color-body;
	}
}