.error {
	@extend .padding--bottom;

	&__container {
		@extend .wrap, .hpad, .center;
	}

	&__row {
		@include clearfix();
		@extend .flex, .flex--wrap, .bg--grey;
		border-radius: 2.5rem;
		overflow: hidden;
	}

	&__col {
		@extend .col-sm-6, .flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 5rem 3rem;

		@include above (sm) {
			padding: 8rem 5rem;
		}

		@include below(sm) {	
			width: 100%;				
		}
	}

	&__icon {
		font-size: 10rem;
	}

	&__btn {
		@extend .btn, .btn--green, .btn--wide;
	}
}