.footer {
	padding: 5rem 0;
	position: relative;

	@include above (sm) {
		padding: 8rem 0;
	}

	&__container {
		@extend .wrap, .hpad;
	}

	&__row {
		@extend .row, .flex, .flex--wrap;
	}

	&__column {
		font-size: 1.6rem;

		@include below (xs) {
			width: 100%;
			text-align: center;

			&:last-child() {
				margin-bottom: 0;
			}
		}

		@include above (sm) {
			font-size: 1.4rem;
		}

		@include below (sm) {
			margin-bottom: 5rem;
		}

		@include between (sm, md) {

			&:nth-child(1), &:nth-child(2) {
				padding-bottom: 5rem;
			}
		}

		@extend .col-xs-6, .col-md-3;

		a {
			color: $white;
			display: inline-block;
			margin-bottom: 1rem;

			&:last-child {
				margin-bottom: 0;
			}
		}

		a, p {
			color: $grey-medium;
		}

		p {

			&:last-child() {
				margin-bottom: 0;
			}
		}


		&--social {
			@extend .flex, .flex--column, .flex--justify;
		}
	}

	&__title {
		color: $white;
		margin-bottom: 3rem;
	}

	&__copyright {
		color: $grey-medium;

		@include below (xs) {
			margin-top: 1.5rem;
		}
	}
}
