.header {
	padding-top: 1rem;
	padding-bottom: 1rem;
	position: relative;
	z-index: 999999999999;
	top: 0;
	width: 100%;

	@include above (sm) {
		position: absolute;
	}

	&.is-fixed {
		top: 0;
		position: fixed; 
	}

	&__container {
		position: relative;
		@extend .hpad, .flex, .flex--center, .flex--justify;

		@include between (sm, md) {
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}
	}

	&__logo {
		display: block;
		float: left;
		display: flex;
		flex-direction: column;
		float: left;
		background-position: center center;
    	background-repeat: no-repeat;
    	background-size: contain;
		width: 19rem;
		height: auto;
		z-index: 100000;
		backface-visibility: hidden;

		@include between (sm, md) {
			width: 17rem;
		}

		&--flask-bg {
			transform: translateX(134px);
		}

		&--letter {
			transition: all ease-in .3s;
		}

		&.is-disabled {

			.header__logo--flask-2 {
				fill: tan;
			}
		}
	}
}