/********************LAYOUTS********************/

/* Base Styles */


/* WYSIWYGs */
.wysiwygs {

  &__title {
    margin-bottom: 3rem;

    @include above (sm) {
      margin-bottom: 5rem;
    }
  }

  &__intro {
    text-align: center; 
    font-size: 1.8rem;
    line-height: 2 !important;

    @include above (sm) {
      font-size: 2.4rem;
    }
  }

  &__col {

    ul {
      padding-left: 2rem;
      list-style: initial;
    }

    h1, h2,
    h3, h4, 
    h5, h6 {

      &:not(.wysiwygs__title) {
        padding-top: 3rem;
        padding-bottom: 1.5rem;
      }
    }
	
    @include above (sm) {

      &.first {

        p:last-child {
          margin-bottom: 0;
        }
      }
    }

    &.last {

      p:last-child {
       margin-bottom: 0;
      }
    }
  }
}

.bg {

  &--none {

    .page__title {    

      span {
        color: $yellow;
      }
    }
  }

  &--black {
    color: $white;
  }
  
  &--purple, &--green {
    color: $white;

    #lion {
      opacity: .1;
    }

    .page__title {
      color: $white;      

      span {
        color: $yellow;
      }
    }
  }
} 

.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

  &--column {
    flex-direction: column;
  }

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}
}

//standard paddings change accordion to design
.padding {

  &--top {
    padding-top: 5rem;
  }
  
  &--bottom {
    padding-bottom: 5rem;
  }

  &--both {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  @include above (sm) {

    &--top {
      padding-top: 10rem;
    }

    &--bottom {
      padding-bottom: 10rem;
    }

    &--both {
      padding-top: 10rem;
      padding-bottom: 10rem;
    }
  }
}

.margin {

  &--top {
    
  }
  
  &--bottom {
    
  }

  &--both {
  
  }

  @include above (sm) {

    &--top {
      
    }

    &--bottom {
      
    }

    &--both {
   
    }
  }
}