.nav {

    @include above(sm) {
    	// left: 50%;
    	// transform: translate(-50%, 0);
    	// position: fixed;
    	// z-index: 100;
    	background: white;
    	border-radius: 3rem;
    	padding: .5rem;
    	// transition: all .3s $easeElastic;

    	// &.is-hidden {
    	// 	display: block;
    	// 	transform: translate(-50%, -20rem);
    	// }

    	// &.is-visible {
    	// 	display: block;
    	// 	transform: translate(-50%, 0);
    	// }
    }

	&__menu {
	    list-style: none;
	    position: relative;
	    z-index: 100;
	    top: 0;
	    left: 0;
	    margin: 0;
	    padding: 0;
	    width: auto;
	    display: flex;
	    flex-direction: row;
	    align-items: center;

		@include above (sm) {
			align-items: center;
		}

		&--main {

			@include below (sm) {
				flex-direction: column;
				align-items: flex-start;
				padding: 3rem 1.5rem;
			}
		}
	}

	&__item {
		list-style: none;
		display: inline-block;

		@include below (sm) {
			position: relative;

			&.is-active > a {
				color: $yellow;
			}
		}

		@include above (sm) {

			&.is-active > a {
				background: $grey;
			}
		}

		&--blog {

			@include above (sm) {
				display: none;
			}
		}
	}


	&__link {
		font-family: $font-headings;
		color: $black;
		font-size: 1.8rem;
		display: inline-block;
		padding: .5rem 1rem;

		&.is-active {

			@include below (sm) {
				color: $yellow; 
			}
		}

		@include above (sm) {
			font-size: 1.4rem;
			padding: 1rem 1.5rem;
			border-radius: 2.5rem;
		}
	}

	&__line {
		position: absolute;
		height: 100%;
		border-radius: 2.5rem;
		left: 0;
  		bottom: 0rem;
  		top: 0;
  		right: 0;
  		z-index: -1;
  		transition: left 1.2s cubic-bezier(.75,-0.5,0,1.75), width 1.2s cubic-bezier(.75,-0.5,0,1.75);

  		&.is-active {
  			background: $grey;
  			
  		}
	}

	&__notifications {

		svg {
			width: auto;
			height: 2rem;
		}

		a:first-child() {
			width: 5.4rem;
			height: 5.4rem;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			background: $grey;
		}

		&:hover {
			cursor: pointer;
		}
	}

	&__modal-trigger {
		padding: 0;

		button {
			border: none;
			outline: none;

			&:hover {
				cursor: pointer;
			}
		}

		@include below (sm) {
			position: fixed;
    		bottom: 1.5rem;
    		right: 1.5rem;

			button:first-child() {
				width: 5.4rem;
				height: 5.4rem;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				background: $grey;
			}

    		span {
    			display: none;
    		}

    		svg {
				width: auto;
				height: 2rem;
			}
		}

		@include above(sm) {

			svg {
				display: none;
			}

			button {
				background: $green;
				width: auto;
				border-radius: 2.7rem;
				padding: 1.8rem 3rem;
				color: $white;
				font-family: $font-headings;
				font-size: 1.4rem;
			}
		}
	}


	&__notifications {
		padding: 1rem;

		@include below (sm) {
			display: none;
		}
	}


	&__dropdown {
		display: none;
		padding: 1.5rem;
		position: absolute;
		top: 100%;
		left: -16.5rem;
		margin-top: 1.5rem;
		background: $white;
		max-width: 26rem;
		border-radius: 1.5rem;

		&.is-visible {
			display: block;
		}

		&-trigger {
			position: relative;
		}

		li {
			padding: 0;
		}

		a {

			&:hover {
				text-decoration: none;
			}
		}
	}
	


	&--mobile {

		@include below (sm) {
			position: fixed;
			z-index: 111111;
			bottom: 0;
			right: 0;
			height: calc(100% - 10rem);
			width: 100%;
			transform: translateY(100%) translateZ(0);
			border-top-right-radius: 2.5rem;
			border-top-left-radius: 2.5rem;
			transition: all .6s cubic-bezier(.77,0,.175,1);
			background: $white;
			// overflow-y: auto;
			// -webkit-overflow-scrolling: touch;

			&.is-open {
				transform: translateY(0) translateZ(0);
			}
		}
	}


	&-toggle {
		display: flex;
		align-items: center;
		position: relative;
		z-index:  88888;
		cursor: pointer;
		background: $grey;
		padding: 1.1rem 2.5rem;
		border-radius: 2.5rem;

		@include above (sm) {
			display: none;
		}

		&__label {
			color: $black;
			vertical-align: middle;
			padding-right: .5rem;
			font-family: $font-headings;
			text-transform: uppercase;
			font-size: 1.2rem;
			position: relative;
		}

		&__icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 2rem;
			height: .1rem;
			background: transparent;
			transition: all .3s ease;

			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: .2rem;
				background: $black;
				transition: all .3s ease;
			}

			&::before {
				bottom: -.3rem;
			}

			&::after {
				top: -.3rem;
			}
			
			body.is-open & {
				background: transparent;

				&::before {
					top: 0;
					transform: rotate(45deg); 
				}

				&::after {
					top: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}
}