.newsletter {
	@extend .padding--bottom;

	&__container {
		@extend .wrap, .hpad, .center;
	}

	&__col {
		background: $grey;
		border-radius: 2.5rem;
		padding: 5rem 3rem;
	}

	&__title {
		padding-bottom: 3rem;
	}

	&__form {

		&-input {
			padding: 1.5rem;
			border: none;
			font-size: 1.6rem;
			border-radius: 1.5rem;
			outline: none;
		}

		&-submit {
			border: none;
			outline: none;
			margin-top: 3rem;
		}
	}
}