.page {  

	&__hero {
		position: relative;
		padding-top: 15rem;
		padding-bottom: 15rem;	

		@include above (sm) {
			padding-top: 25rem;
			padding-bottom: 20rem;	
		}

		&--intersect {

			@include above (sm) {
				padding-bottom: calc(25rem + 10rem);
			}	
		}

		#lion {
			position: absolute;
			top: -15rem;
			z-index: 0;
			left: 0;

			@include below (sm) {
				width: 100%;
				height: 40rem;
				top: -7rem;
			}
		}
	}

	&__container {
		position: relative;
		@extend .wrap, .hpad;
	}

	&__col {
		@extend .col-sm-8, .col-sm-offset-1, .col-md-6, .col-md-offset-1;
	}

	&__slug {		 
		 @extend .h3, .yellow;
		 padding-bottom: 1rem;
	}

	&__title {
		position: relative;
		z-index: 10;

		span {
			display: block;
			color: $yellow;
		}
	}

	&__img-container {
		overflow: hidden;
		position: relative;
		@extend .wrap, .hpad;

		@include above (sm) {
			top: -15rem;
			margin-bottom: -15rem;
		}
	}

	&__img {
		padding-top: 0;
		z-index: 10;
		background: no-repeat center center;
		background-size: cover;
		border-radius: 2.5rem;
		min-height: 40rem;

		@include above (sm) {
			min-height: 45rem;
		}

		@include above (md) {
			min-height: 50rem;
		}

		@include above (lg) {
			min-height: 55rem;
		}

		@include above (xl) {
			min-height: 65rem;
		}

		&--wrapper {
			overflow: hidden;
		}

		&--placeholder {
			background-image: url('/wp-content/themes/lionlab_v3/assets/img/pictureicon.svg');
			background-size: contain;
			background-color: #C0C9CA;
		}
	}
}
