//Howdy partners
.partners {

	&__container {
		@extend .wrap, .hpad;
	}

	&__row {
		@extend .flex, .flex--center, .flex--wrap;
	}

	&__item {
		text-align: center;
		margin: 1.5rem;
		width: calc(100% - 3rem);

		@include above (xs) {
			width: calc(50% - 3rem);
		}
	}

	&__img {
		max-height: 10.5rem;
		width: auto;
	}
}