//Sick reference bro
.references {

	&__container {
		position: relative;
	}

	&__row {
		@extend .flex, .flex--center, .flex--wrap;
	}

	&__item {
		text-align: center;
		width: 50%;

		@include above (sm) {
			width: 25%;
		}
	}

	&__img {
		opacity: .1;
	}
}