.services {

	&__row {
		border-radius: 2.5rem;
		overflow: hidden;
		position: relative;
		background: $grey;

		@extend .flex, .flex--wrap;
	}

	&__header {
		padding-bottom: 5rem;
		width: 100%;
	}

	&__text, &__accordions {
		padding: 1.5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@extend .col-md-6;

		@include between (xs, sm) {
			padding: 3rem;
		}

		@include above(sm) {
			padding: 5rem;
		}
	}

	&__employees {
		width: 18.6rem;
		height: 18.6rem;
		background: $grey;
		border-radius: 50%;
		position: relative;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;
		display: flex;
    	align-items: center;
    	justify-content: center;

		@include below(md) {
			margin-bottom: -8rem;
		}

		@include above(md) {
			position: absolute;
			width: 22.6rem;
			height: 22.6rem;
		}

		&-img {
			position: absolute;
		}
	}

	&__text {

		@include below(md) {
			padding-bottom: 11rem;
		}
		
		@include above(md) {
			padding-right: 15rem;
		}
	}

	&__accordions {

		@include above(md) {
			padding-left: 15rem;
		}
	}

	&-columns {

		&__column {
			width: calc(100% - 3rem);
			margin: 3rem 1.5rem; 
			background: $grey;
			min-height: 30rem;
			padding-bottom: 5.5rem;
			display: flex;
			border-radius: 2.5rem;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: relative;

			@include between(sm, md) {
				width: calc(50% - 3rem);
			}

			@include above(md) {
				width: calc(33.33333% - 3rem);
			}
		}

		&__consultants {			
			max-height: 5rem;
			width: auto;
			position: absolute;
			top: 1rem;
			right: 1rem;
			border-radius: 50%;
			border: .3rem solid $grey;
			background: $black; 
			z-index: 10;

			& + & {
				right: 1rem + 3.5rem;
				z-index: 10 + 1;
			}

			& + & + & {
				right: 1rem + 6.5rem;
				z-index: 10 + 1;
			}
		}

		&__title {
			color: $color-body;
			text-align: center;
			padding-left: 1.5rem;
			padding-right: 1.5rem;
			max-width: 100%;
		}

		&__btn {
			background: $green;
			color: $white;
			display: block;
			width: 100%;
			padding: 1.5rem 0rem;
			border-bottom-right-radius: 2.5rem;
			border-bottom-left-radius: 2.5rem;
			position: absolute;
			bottom: 0;
			text-align: center;
			font-size: 1.4rem;
			text-transform: uppercase;
			font-family: $font-headings;
		}
	}
}