//single and ready to mingle
.single {

	&__meta {
		padding: 3rem 0rem;

		&-wrap {
			align-self: center;
		}
	}

	&__avatar {
		border-radius: 50%;
		display: inline-block;
		overflow: hidden;
		max-width: 6rem;
		max-height: 6rem;
		margin-right: 1.5rem;
		background: $grey;
		padding: .5rem;
	}

	&__name {
		margin: 0;
	}

	&__position {
		font-size: 1.3rem;
	}

	&__content {
		padding-top: 3rem;
		@extend .col-md-8, .col-md-offset-2;

		a {
			color: $color-body;
			transition: all ease .3s;
		}

		h1, h2,
		h3, h4,
		h5, h6 {
			padding-top: 3rem;
			padding-bottom: 3rem;
		}
	}
}