//single cäse 🧀
.single-case {

	&__meta {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 3rem 0rem;

		&-item {
			width: 100%;
			color: $black;
			font-size: 1.4rem;
			margin: 1rem 0rem;

			a {
				color: $color-body;
				transition: all ease .3s;
				margin-left: .5rem;

				&:hover {
					color: $yellow;
				}
			}

			@include above (sm) {
				width: 50%;
			}

			@include above (md) {
				width: 25%;
			}
		}

		&-desc {
			color: $black;
			background: $grey;
			border-radius: 2.5rem;
			display: inline-block;
			padding: .5rem 1rem;
			font-size: 1.2rem;
		}

		&-text {
			margin-bottom: 0;
			margin-left: .5rem;
		}
	}

	&__container {
		@extend .wrap, .hpad;
	}

	&__row {
		@extend .row, .flex, .flex--wrap;
	}

	&__intro, &__results {
		@extend .col-md-8, .col-md-offset-2;
	}

	&__intro {

		a {
			color: $color-body;
			transition: all ease .3s;
		}

		h1, h2, 
		h3, h4,
		h5, h6 {
			padding-bottom: 3rem;

			&:not(:first-child) {
				margin-top: 8rem;
			}
		}
	}

	&__title {
		padding-bottom: 3rem;
	}

	&__result {
		@extend .bg--grey;
		padding-top: 3rem;
		padding-bottom: 3rem;
		border-radius: 2.5rem;
		margin: 1.5rem;
		display: inline-block;
		padding: 3rem;
		width: 100%;

		@include above (sm) {
			width: calc(33.3% - 3rem);
			padding: 3rem;
		}
	}

	&__browser {

		&-header {
			background: $grey;
			border-top: 4rem solid $black;
			border-radius: 2.5rem 2.5rem 0 0;

			span {
				width: 1rem;
				height: 1rem;
				border-radius: 50%;
				display: inline-block;
				margin-right: .2rem;
				position: relative;
				top: -3.5rem;
			}
		}

		&-controls {
			padding-left: 1.5rem;
		}

		&-wrap {
			background: $grey;
			max-height: 70rem;
			overflow: scroll;
			padding: 0 3rem;
			border-bottom: 3rem solid $grey;
			border-bottom-left-radius: 2.5rem;
			border-bottom-right-radius: 2.5rem;
		}
	}
}