.video {
	position: relative;
	overflow: hidden;
	z-index: 1;

	&__wrap {
		position: relative;
    	width: calc(100% - 3rem);
    	border-radius: 2.5rem;
    	padding: 0;
    	mask-image: radial-gradient(white, black);

    	@include between (xs, sm) {
    		width: calc(100% - 6rem);
    	}

    	@include above (sm) {
    		height: 59vh;
    		width: calc(100% - 10rem);
    	}

    	@include between (sm, md) {
    		height: 42vh;
    	}

		@include between (md, lg) {
    		height: 51vh;
    	}


	    @media screen and (min-width: 1400px) {
	    	height: 56vh;
	    }


	    @media screen and (min-width: 1480px) {
	    	height: 80vh;
	    }
	}

	&__video {
		max-width: 100%;
		backface-visibility: hidden;
	    width: auto;
	    height: auto;

	    @include above (sm) {
	    	position: absolute;
	    	z-index: -100;
	    	top: 50%;
	    	left: 50%;
	    	-webkit-transform: translate(-50%, -50%);
	    	transform: translate(-50%, -50%);
	    	min-width: 100%;
	    	min-height: 100%;
	    }
	}

	&__controls {

		&:hover {
			cursor: pointer;
		}
	}

	&__play {
		border-radius: 50%;
		background: $grey; 
		width: 6.5rem;
		height: 6.5rem;
		line-height: 1;
		display: flex;
		align-items: center;
		justify-content: center;

		@include below (sm) {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}

		@include above (sm) {
			width: 8.5rem;
			height: 8.5rem;
		}

		svg {
			height: 1.5rem;
			width: auto;
			fill: $black;

			@include above (sm) {
				height: 2rem;
			}

		}
	}


	&__close {
		background: $grey;
		border-radius: 50%;
		position: absolute;
		right: .5rem;
		top: -2.5rem;
		width: 3.5rem;
		height: 3.5rem;
		display: flex;
		justify-content: center;
		cursor: pointer;
		transform: scale(1);
		transition: all $easeElastic .3s;
		z-index: 10;
		pointer-events: none;

		&:hover {
			transform: scale(1.1);
		}

		svg {
			width: 1.5rem;

			path {
				fill: $black;
			}
		}
	}
}

.basicLightbox {

	&__wrapper {
		width: calc(100% - 6rem);
    	height: calc(100% - 6rem);
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	margin: auto;
	}
}