* {
  /* (http://paulirish.com/2012/box-sizing-border-box-ftw/) */
  box-sizing: border-box;

  &:after,
  &:before {
    box-sizing: border-box;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  font-family: $font-body;
  color: $color-body;
}

body {
  background-color: $white;
  line-height: 1.8;
  margin: 0;
  font-size: $base-font-size;

  @include above (sm) {
    font-size: $base-font-size-desktop;
  }
}

/* Links */
a, .a {
  text-decoration: none;
  outline: none;
}

/* Figures and Blockquotes */
figcaption {
  font-style: italic;
  text-align: center;
}


blockquote {
  position: relative;
  padding-left: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;

  &:before {
    height: 100%;
    position: absolute;
    left: 0;
    background: $yellow;
    content: '';
    width: .3rem;
  } 

  p {
    display: inline;
    font-style: italic;
  }
}

cite {
  display: block;
  font-style: normal;
}

/* Paragraphs and Lists
   ========================================================================== */

p, ul, ol {
  margin: 0 0 1.5rem;
}

ul, ol {
  ul, ol {
    margin-bottom: 0;
  }
}


/* Default Image Styles */
img {
  height: auto;
  max-width: 100%;
}

/* WordPress Image Styles */
[class^="wp-image-"], [class*=" wp-image-"], .wp-caption {
  display: block;
  height: auto;
  max-width: 100%;

  .wp-caption & {
    padding: 0;
    border: 0;
  }

  .wp-caption-text {
    font-size: 75%;
    font-style: italic;
    margin: 0;
    padding: 16px 16px 12px;
  }
}

/* Containers */
.wrap, .contain, .constrain {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  word-wrap: break-word;
}

.contain {
  max-width: 76.9rem;
}

.wrap {
  max-width: 160rem;
}

/*
 * HELPER CLASSES
 */

.hpad {
  @include below (xs) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @include between (xs, sm) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @include above (sm) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.alignleft {
  margin: 1rem auto;

  @include above (sm) {
    margin: 0 1rem 1rem 0;
    float: left;
  }
}

.aligncenter {
  margin: 1rem auto;
  clear: both;
}

.alignright {
  margin: 1rem auto;

  @include above (sm) {
    margin: 0 0 1rem 1rem;
    float: right;
  }
}


//states
.is-loading {
  cursor: progress;
  pointer-events: none;

  a {

    &:hover {
      cursor: progress;
    }    
  }
}

.is-hidden {
  display: none;
}

.is-fixed {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%; 
}

.is-disabled {
  pointer-events: none;

  &:hover {
      pointer-events: none;
  }
}

//themes
.theme {

  &--purple {

    .curtain {
      background: $purple;
    }

    .header__logo--flask-2 {
      fill: $purple;
    }

    .header__logo--letter {
      fill: $white;
    }
  }
}

.overlay {
  transition: all ease .3s;

    &.is-visible {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        background: rgba($black, .3);
    }
}

.transition__curtain {
  will-change: transform;
  background: $white;
}

//visibility
.hidden-sm {

  @include above (sm) {
    display: none !important;
  }
}