/*
 * Legal Disclaimer for Web licence
 *
 * Licence to use self-hosted webfonts for displaying dynamic text on specified website domains. Our package includes WOFF and WOFF2 font formats.
 *
 * Should the license page views limit be exceeded the license holder will be required to contact Lineto.com for an upgrade.
 * 
 * It is strictly prohibited to rename the font and to download or use these fonts in any other media. 
 * 
 * These Web fonts are licensed exclusively for the use on the following domain(s) and their subdomains:
 *
 * lionlab.dk (monthly pageviews: <50K)
 *
 */

/* complete */


@font-face { 
  font-family: 'Circular Std Book'; 
  src: url('/wp-content/themes/lionlab_v3/assets/fonts/CircularXXWeb-Book.woff2') format('woff2');
  src: url('/wp-content/themes/lionlab_v3/assets/fonts/CircularXXWeb-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std Black';
  src: url('/wp-content/themes/lionlab_v3/assets/fonts/CircularXXWeb-Black.woff') format('woff');
  src: url('/wp-content/themes/lionlab_v3/assets/fonts/CircularXXWeb-Black.woff2') format('woff2');
  font-weight: 900; 
  font-style: normal;
  font-display: swap;
}


// Fonts
$font-body: 'Circular Std Book', sans-serif;
$font-headings: 'Circular Std Black', sans-serif;

// Base sizes
$base-font-size: 16px; // General font-size, also used for mobile - default 16px
$base-font-size-desktop: 18px; // Desktop font-size - default 16px 

/********* Colors *********/

$white: white;
$black: black;

$yellow: #FFB511;
$red: #D11149;
$orange: #FF6208;
$blue: #0083FF;
$green: #1F7D49;
$purple: #411057;
$sand: #F6EFE8;
$grey: #F2F2F2;
$grey-medium: #808080;



// Set font colors
$color-body: $black;
$color-headings: $black;


// Bootstrap Grid only
//


// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 480px,
  // Small screen / phone
  sm: 768px,
  // Medium screen / tablet
  md: 992px,
  // Large screen / desktop
  lg: 1170px,
  // Extra large screen / wide desktop
  xl: 1600px
) !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:               12 !default;
$grid-gutter-width:          3rem !default; // 2rem

//missing variables
$enable-flex:               false !default;
$enable-grid-classes:        true !default;