/**
This file loads block style in frontend only
 */
/*
 * Legal Disclaimer for Web licence
 *
 * Licence to use self-hosted webfonts for displaying dynamic text on specified website domains. Our package includes WOFF and WOFF2 font formats.
 *
 * Should the license page views limit be exceeded the license holder will be required to contact Lineto.com for an upgrade.
 * 
 * It is strictly prohibited to rename the font and to download or use these fonts in any other media. 
 * 
 * These Web fonts are licensed exclusively for the use on the following domain(s) and their subdomains:
 *
 * lionlab.dk (monthly pageviews: <50K)
 *
 */
/* complete */
@font-face {
  font-family: 'Circular Std Book';
  src: url("/wp-content/themes/lionlab_v3/assets/fonts/CircularXXWeb-Book.woff2") format("woff2");
  src: url("/wp-content/themes/lionlab_v3/assets/fonts/CircularXXWeb-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Circular Std Black';
  src: url("/wp-content/themes/lionlab_v3/assets/fonts/CircularXXWeb-Black.woff") format("woff");
  src: url("/wp-content/themes/lionlab_v3/assets/fonts/CircularXXWeb-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

/********* Colors *********/


/*# sourceMappingURL=blocks.css.map*/