/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/* ***********************************
 *
 *    Ire's CSS Reset & Base
 *
 * *********************************** */
/* Reset margin, padding, border
 * *********************************** */
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
  margin: 0;
  padding: 0;
  border: 0; }

/* Typography
 * *********************************** */
html {
  font-size: 100%; }

body {
  margin: 0; }

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

/* Layout
 * *********************************** */
article,
aside,
footer,
header,
nav,
section,
main {
  display: block; }

* {
  box-sizing: border-box; }

*:before,
*:after {
  box-sizing: inherit; }

/* Elements
 * *********************************** */
table {
  border-collapse: collapse;
  border-spacing: 0; }

ol,
ul {
  list-style: none; }

img,
video {
  max-width: 100%; }

img {
  border-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none; }

/* Attributes & states
 * *********************************** */
[hidden] {
  display: none !important; }

[disabled] {
  cursor: not-allowed; }

/*
 * Legal Disclaimer for Web licence
 *
 * Licence to use self-hosted webfonts for displaying dynamic text on specified website domains. Our package includes WOFF and WOFF2 font formats.
 *
 * Should the license page views limit be exceeded the license holder will be required to contact Lineto.com for an upgrade.
 * 
 * It is strictly prohibited to rename the font and to download or use these fonts in any other media. 
 * 
 * These Web fonts are licensed exclusively for the use on the following domain(s) and their subdomains:
 *
 * lionlab.dk (monthly pageviews: <50K)
 *
 */
/* complete */
@font-face {
  font-family: 'Circular Std Book';
  src: url("/wp-content/themes/lionlab_v3/assets/fonts/CircularXXWeb-Book.woff2") format("woff2");
  src: url("/wp-content/themes/lionlab_v3/assets/fonts/CircularXXWeb-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Circular Std Black';
  src: url("/wp-content/themes/lionlab_v3/assets/fonts/CircularXXWeb-Black.woff") format("woff");
  src: url("/wp-content/themes/lionlab_v3/assets/fonts/CircularXXWeb-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

/********* Colors *********/
.embed {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }
  .embed__item,
  .embed iframe,
  .embed embed,
  .embed object,
  .embed video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0; }
  .embed--16by9 {
    padding-bottom: 56.25%; }
  .embed--4by3 {
    padding-bottom: 75%; }

.white {
  color: white; }

.bg--white {
  background-color: white; }

.black {
  color: black; }

.bg--black {
  background-color: black; }

.red {
  color: #D11149; }

.bg--red {
  background-color: #D11149; }

.yellow, .page__slug {
  color: #FFB511; }

.bg--yellow {
  background-color: #FFB511; }

.blue {
  color: #0083FF; }

.bg--blue {
  background-color: #0083FF; }

.green {
  color: #1F7D49; }

.bg--green {
  background-color: #1F7D49; }

.grey {
  color: #F2F2F2; }

.bg--grey, .single-case__result, .error__row {
  background-color: #F2F2F2; }

.orange {
  color: #FF6208; }

.bg--orange {
  background-color: #FF6208; }

.purple {
  color: #411057; }

.bg--purple {
  background-color: #411057; }

.sand {
  color: #F6EFE8; }

.bg--sand {
  background-color: #F6EFE8; }

.row, .cases__row, .client-results__row, .single-case__row, .employee__row, .blog__row, .footer__row {
  margin-left: -1.5rem;
  margin-right: -1.5rem; }
  .row:after, .cases__row:after, .client-results__row:after, .single-case__row:after, .employee__row:after, .blog__row:after, .footer__row:after {
    content: '';
    display: table;
    clear: both; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .employee__item, .footer__column, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .client-results__item, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .client-results__intro, .client-results__results, .error__col, .col-sm-7, .col-sm-8, .page__col, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .cta__text, .cta__form, .services__text, .services__accordions, .col-md-7, .col-md-8, .single-case__intro, .single-case__results, .single__content, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

@media (min-width: 480px) {
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .employee__item, .footer__column, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .client-results__item {
    float: left; }
  .col-xs-1 {
    width: 8.33333%; }
  .col-xs-2 {
    width: 16.66667%; }
  .col-xs-3 {
    width: 25%; }
  .col-xs-4 {
    width: 33.33333%; }
  .col-xs-5 {
    width: 41.66667%; }
  .col-xs-6, .employee__item, .footer__column {
    width: 50%; }
  .col-xs-7 {
    width: 58.33333%; }
  .col-xs-8 {
    width: 66.66667%; }
  .col-xs-9 {
    width: 75%; }
  .col-xs-10 {
    width: 83.33333%; }
  .col-xs-11 {
    width: 91.66667%; }
  .col-xs-12, .client-results__item {
    width: 100%; }
  .col-xs-pull-0 {
    right: auto; }
  .col-xs-pull-1 {
    right: 8.33333%; }
  .col-xs-pull-2 {
    right: 16.66667%; }
  .col-xs-pull-3 {
    right: 25%; }
  .col-xs-pull-4 {
    right: 33.33333%; }
  .col-xs-pull-5 {
    right: 41.66667%; }
  .col-xs-pull-6 {
    right: 50%; }
  .col-xs-pull-7 {
    right: 58.33333%; }
  .col-xs-pull-8 {
    right: 66.66667%; }
  .col-xs-pull-9 {
    right: 75%; }
  .col-xs-pull-10 {
    right: 83.33333%; }
  .col-xs-pull-11 {
    right: 91.66667%; }
  .col-xs-pull-12 {
    right: 100%; }
  .col-xs-push-0 {
    left: auto; }
  .col-xs-push-1 {
    left: 8.33333%; }
  .col-xs-push-2 {
    left: 16.66667%; }
  .col-xs-push-3 {
    left: 25%; }
  .col-xs-push-4 {
    left: 33.33333%; }
  .col-xs-push-5 {
    left: 41.66667%; }
  .col-xs-push-6 {
    left: 50%; }
  .col-xs-push-7 {
    left: 58.33333%; }
  .col-xs-push-8 {
    left: 66.66667%; }
  .col-xs-push-9 {
    left: 75%; }
  .col-xs-push-10 {
    left: 83.33333%; }
  .col-xs-push-11 {
    left: 91.66667%; }
  .col-xs-push-12 {
    left: 100%; }
  .col-xs-offset-0 {
    margin-left: 0%; }
  .col-xs-offset-1 {
    margin-left: 8.33333%; }
  .col-xs-offset-2 {
    margin-left: 16.66667%; }
  .col-xs-offset-3 {
    margin-left: 25%; }
  .col-xs-offset-4 {
    margin-left: 33.33333%; }
  .col-xs-offset-5 {
    margin-left: 41.66667%; }
  .col-xs-offset-6 {
    margin-left: 50%; }
  .col-xs-offset-7 {
    margin-left: 58.33333%; }
  .col-xs-offset-8 {
    margin-left: 66.66667%; }
  .col-xs-offset-9 {
    margin-left: 75%; }
  .col-xs-offset-10 {
    margin-left: 83.33333%; }
  .col-xs-offset-11 {
    margin-left: 91.66667%; }
  .col-xs-offset-12 {
    margin-left: 100%; } }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .employee__item, .col-sm-5, .col-sm-6, .client-results__intro, .client-results__results, .error__col, .col-sm-7, .col-sm-8, .page__col, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4, .employee__item {
    width: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-6, .client-results__intro, .client-results__results, .error__col {
    width: 50%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-8, .page__col {
    width: 66.66667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10, .client-results__intro {
    width: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-pull-1 {
    right: 8.33333%; }
  .col-sm-pull-2 {
    right: 16.66667%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-4 {
    right: 33.33333%; }
  .col-sm-pull-5 {
    right: 41.66667%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.33333%; }
  .col-sm-pull-8 {
    right: 66.66667%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-pull-11 {
    right: 91.66667%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-push-1 {
    left: 8.33333%; }
  .col-sm-push-2 {
    left: 16.66667%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-4 {
    left: 33.33333%; }
  .col-sm-push-5 {
    left: 41.66667%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.33333%; }
  .col-sm-push-8 {
    left: 66.66667%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.33333%; }
  .col-sm-push-11 {
    left: 91.66667%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1, .page__col, .client-results__intro {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .employee__item, .footer__column, .col-md-4, .col-md-5, .col-md-6, .page__col, .cta__text, .cta__form, .services__text, .services__accordions, .col-md-7, .col-md-8, .client-results__results, .single-case__intro, .single-case__results, .single__content, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3, .employee__item, .footer__column {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6, .page__col, .cta__text, .cta__form, .services__text, .services__accordions {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8, .client-results__results, .single-case__intro, .single-case__results, .single__content {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-pull-1 {
    right: 8.33333%; }
  .col-md-pull-2 {
    right: 16.66667%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-4 {
    right: 33.33333%; }
  .col-md-pull-5 {
    right: 41.66667%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.33333%; }
  .col-md-pull-8 {
    right: 66.66667%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.33333%; }
  .col-md-pull-11 {
    right: 91.66667%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-push-1 {
    left: 8.33333%; }
  .col-md-push-2 {
    left: 16.66667%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-4 {
    left: 33.33333%; }
  .col-md-push-5 {
    left: 41.66667%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.33333%; }
  .col-md-push-8 {
    left: 66.66667%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.33333%; }
  .col-md-push-11 {
    left: 91.66667%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1, .page__col {
    margin-left: 8.33333%; }
  .col-md-offset-2, .client-results__results, .single-case__intro, .single-case__results, .single__content {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1170px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-pull-1 {
    right: 8.33333%; }
  .col-lg-pull-2 {
    right: 16.66667%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-4 {
    right: 33.33333%; }
  .col-lg-pull-5 {
    right: 41.66667%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.33333%; }
  .col-lg-pull-8 {
    right: 66.66667%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.33333%; }
  .col-lg-pull-11 {
    right: 91.66667%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-push-1 {
    left: 8.33333%; }
  .col-lg-push-2 {
    left: 16.66667%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-4 {
    left: 33.33333%; }
  .col-lg-push-5 {
    left: 41.66667%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.33333%; }
  .col-lg-push-8 {
    left: 66.66667%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.33333%; }
  .col-lg-push-11 {
    left: 91.66667%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1600px) {
  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    float: left; }
  .col-xl-1 {
    width: 8.33333%; }
  .col-xl-2 {
    width: 16.66667%; }
  .col-xl-3 {
    width: 25%; }
  .col-xl-4 {
    width: 33.33333%; }
  .col-xl-5 {
    width: 41.66667%; }
  .col-xl-6 {
    width: 50%; }
  .col-xl-7 {
    width: 58.33333%; }
  .col-xl-8 {
    width: 66.66667%; }
  .col-xl-9 {
    width: 75%; }
  .col-xl-10 {
    width: 83.33333%; }
  .col-xl-11 {
    width: 91.66667%; }
  .col-xl-12 {
    width: 100%; }
  .col-xl-pull-0 {
    right: auto; }
  .col-xl-pull-1 {
    right: 8.33333%; }
  .col-xl-pull-2 {
    right: 16.66667%; }
  .col-xl-pull-3 {
    right: 25%; }
  .col-xl-pull-4 {
    right: 33.33333%; }
  .col-xl-pull-5 {
    right: 41.66667%; }
  .col-xl-pull-6 {
    right: 50%; }
  .col-xl-pull-7 {
    right: 58.33333%; }
  .col-xl-pull-8 {
    right: 66.66667%; }
  .col-xl-pull-9 {
    right: 75%; }
  .col-xl-pull-10 {
    right: 83.33333%; }
  .col-xl-pull-11 {
    right: 91.66667%; }
  .col-xl-pull-12 {
    right: 100%; }
  .col-xl-push-0 {
    left: auto; }
  .col-xl-push-1 {
    left: 8.33333%; }
  .col-xl-push-2 {
    left: 16.66667%; }
  .col-xl-push-3 {
    left: 25%; }
  .col-xl-push-4 {
    left: 33.33333%; }
  .col-xl-push-5 {
    left: 41.66667%; }
  .col-xl-push-6 {
    left: 50%; }
  .col-xl-push-7 {
    left: 58.33333%; }
  .col-xl-push-8 {
    left: 66.66667%; }
  .col-xl-push-9 {
    left: 75%; }
  .col-xl-push-10 {
    left: 83.33333%; }
  .col-xl-push-11 {
    left: 91.66667%; }
  .col-xl-push-12 {
    left: 100%; }
  .col-xl-offset-0 {
    margin-left: 0%; }
  .col-xl-offset-1 {
    margin-left: 8.33333%; }
  .col-xl-offset-2 {
    margin-left: 16.66667%; }
  .col-xl-offset-3 {
    margin-left: 25%; }
  .col-xl-offset-4 {
    margin-left: 33.33333%; }
  .col-xl-offset-5 {
    margin-left: 41.66667%; }
  .col-xl-offset-6 {
    margin-left: 50%; }
  .col-xl-offset-7 {
    margin-left: 58.33333%; }
  .col-xl-offset-8 {
    margin-left: 66.66667%; }
  .col-xl-offset-9 {
    margin-left: 75%; }
  .col-xl-offset-10 {
    margin-left: 83.33333%; }
  .col-xl-offset-11 {
    margin-left: 91.66667%; }
  .col-xl-offset-12 {
    margin-left: 100%; } }

h1, .h1, h2, .h2, h3, .h3, .page__slug, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Circular Std Black", sans-serif;
  line-height: 1.5; }

h1, .h1 {
  font-size: 3.2rem; }
  @media (min-width: 768px) {
    h1, .h1 {
      font-size: 5.2rem; } }

h2, .h2 {
  font-size: 2.4rem; }
  @media (min-width: 768px) {
    h2, .h2 {
      font-size: 3.8rem; } }

h3, .h3, .page__slug {
  font-size: 2.2rem; }
  @media (min-width: 768px) {
    h3, .h3, .page__slug {
      font-size: 2.4rem; } }

h4, .h4 {
  font-size: 1.8rem; }
  @media (min-width: 768px) {
    h4, .h4 {
      font-size: 2rem; } }

h5, .h5 {
  font-size: 1.8rem; }

h6, .h6 {
  font-size: 1.6rem; }

* {
  /* (http://paulirish.com/2012/box-sizing-border-box-ftw/) */
  box-sizing: border-box; }
  *:after, *:before {
    box-sizing: border-box; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  font-family: "Circular Std Book", sans-serif;
  color: black; }

body {
  background-color: white;
  line-height: 1.8;
  margin: 0;
  font-size: 16px; }
  @media (min-width: 768px) {
    body {
      font-size: 18px; } }

/* Links */
a, .a {
  text-decoration: none;
  outline: none; }

/* Figures and Blockquotes */
figcaption {
  font-style: italic;
  text-align: center; }

blockquote {
  position: relative;
  padding-left: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem; }
  blockquote:before {
    height: 100%;
    position: absolute;
    left: 0;
    background: #FFB511;
    content: '';
    width: .3rem; }
  blockquote p {
    display: inline;
    font-style: italic; }

cite {
  display: block;
  font-style: normal; }

/* Paragraphs and Lists
   ========================================================================== */
p, ul, ol {
  margin: 0 0 1.5rem; }

ul ul, ul ol, ol ul, ol ol {
  margin-bottom: 0; }

/* Default Image Styles */
img {
  height: auto;
  max-width: 100%; }

/* WordPress Image Styles */
[class^="wp-image-"], [class*=" wp-image-"], .wp-caption {
  display: block;
  height: auto;
  max-width: 100%; }
  .wp-caption [class^="wp-image-"], .wp-caption [class*=" wp-image-"], .wp-caption .wp-caption {
    padding: 0;
    border: 0; }
  [class^="wp-image-"] .wp-caption-text, [class*=" wp-image-"] .wp-caption-text, .wp-caption .wp-caption-text {
    font-size: 75%;
    font-style: italic;
    margin: 0;
    padding: 16px 16px 12px; }

/* Containers */
.wrap, .modal__container, .page__container, .page__img-container, .contact__container, .cases__container, .newsletter__container, .client-results__container, .partners__container, .single-case__container, .error__container, .employee__container, .blog__container, .footer__container, .contain, .constrain {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  word-wrap: break-word; }

.contain {
  max-width: 76.9rem; }

.wrap, .modal__container, .page__container, .page__img-container, .contact__container, .cases__container, .newsletter__container, .client-results__container, .partners__container, .single-case__container, .error__container, .employee__container, .blog__container, .footer__container {
  max-width: 160rem; }

/*
 * HELPER CLASSES
 */
@media (max-width: 479px) {
  .hpad, .modal__container, .header__container, .page__container, .page__img-container, .contact__container, .cases__container, .newsletter__container, .client-results__container, .partners__container, .single-case__container, .error__container, .employee__container, .blog__container, .footer__container {
    padding-left: 1.5rem;
    padding-right: 1.5rem; } }

@media (min-width: 480px) and (max-width: 767px) {
  .hpad, .modal__container, .header__container, .page__container, .page__img-container, .contact__container, .cases__container, .newsletter__container, .client-results__container, .partners__container, .single-case__container, .error__container, .employee__container, .blog__container, .footer__container {
    padding-left: 3rem;
    padding-right: 3rem; } }

@media (min-width: 768px) {
  .hpad, .modal__container, .header__container, .page__container, .page__img-container, .contact__container, .cases__container, .newsletter__container, .client-results__container, .partners__container, .single-case__container, .error__container, .employee__container, .blog__container, .footer__container {
    padding-left: 5rem;
    padding-right: 5rem; } }

.left {
  text-align: left; }

.center, .contact__col, .newsletter__container, .error__container {
  text-align: center; }

.right {
  text-align: right; }

.alignleft {
  margin: 1rem auto; }
  @media (min-width: 768px) {
    .alignleft {
      margin: 0 1rem 1rem 0;
      float: left; } }

.aligncenter {
  margin: 1rem auto;
  clear: both; }

.alignright {
  margin: 1rem auto; }
  @media (min-width: 768px) {
    .alignright {
      margin: 0 0 1rem 1rem;
      float: right; } }

.is-loading {
  cursor: progress;
  pointer-events: none; }
  .is-loading a:hover {
    cursor: progress; }

.is-hidden {
  display: none; }

.is-fixed {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%; }

.is-disabled {
  pointer-events: none; }
  .is-disabled:hover {
    pointer-events: none; }

.theme--purple .curtain {
  background: #411057; }

.theme--purple .header__logo--flask-2 {
  fill: #411057; }

.theme--purple .header__logo--letter {
  fill: white; }

.overlay {
  transition: all ease .3s; }
  .overlay.is-visible {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.3); }

.transition__curtain {
  will-change: transform;
  background: white; }

@media (min-width: 768px) {
  .hidden-sm {
    display: none !important; } }

#form {
  height: 0;
  opacity: 0; }

#cf-context {
  width: 100%;
  height: 100%;
  z-index: 0; }

.conversational-form-inner {
  padding: 0 !important;
  font-family: "Circular Std Book", sans-serif; }
  .conversational-form-inner .user text p {
    background: #1F7D49;
    color: white; }
  .conversational-form-inner .robot text p {
    background: #F2F2F2;
    color: black; }
  .conversational-form-inner .peak-thumb thumb {
    background-size: contain;
    background-color: #F2F2F2; }

.cf-input-button {
  background: #1F7D49 !important;
  border-radius: 50% !important;
  width: 3.5rem !important;
  height: 3.5rem !important;
  bottom: auto !important;
  right: 1.5rem !important; }

.cf-icon-progress {
  background-size: 3.3rem 3.3rem !important; }

.cf-button {
  background: #F2F2F2 !important;
  border: none !important; }
  .cf-button:hover {
    background: #1F7D49 !important; }

.cf-checkbox-button:checked {
  background: #1F7D49 !important; }

.inputWrapper {
  display: flex;
  align-items: center; }
  .inputWrapper input, .inputWrapper textarea {
    width: 100%;
    border-radius: 1.5rem;
    left: .1rem;
    font-family: "Circular Std Book", sans-serif;
    border: 0.2rem #F2F2F2 solid; }
    .inputWrapper input:focus, .inputWrapper textarea:focus {
      box-shadow: none; }

.hf-fields-wrap {
  display: inline-block; }

.hf-fields {
  display: flex;
  flex-wrap: wrap;
  margin: 0; }

.hf-field {
  padding: 1rem 0rem;
  width: 100%; }
  .hf-field:first-child {
    padding-top: 0; }
  .hf-field label {
    font-family: "Circular Std Black", sans-serif;
    display: block;
    line-height: 1;
    margin-bottom: 1.5rem; }
    .hf-field label span {
      color: #D11149; }
  .hf-field input, .hf-field textarea {
    width: 100%;
    padding: 1.5rem;
    border: none;
    font-size: 1.6rem;
    border-radius: 1.5rem;
    -webkit-appearence: none; }
    .hf-field input:focus, .hf-field textarea:focus {
      outline: none; }
  .hf-field textarea {
    min-height: 15rem; }

.hf-btn {
  width: 100%;
  padding-top: 3rem; }
  .hf-btn input {
    border: none;
    outline: none; }

.hf-message {
  padding: 1rem; }
  .hf-message-warning {
    color: #D11149; }

.btn, .hf-btn input, .contact__btn, .error__btn {
  display: inline-block;
  padding: 1.5rem 3rem;
  border-radius: 5rem;
  text-transform: uppercase;
  font-family: "Circular Std Black", sans-serif;
  font-size: 1.6rem; }
  .btn--wide, .hf-btn input, .contact__btn, .error__btn {
    padding: 1.5rem 5rem; }
  .btn--tag {
    font-size: 1.6rem;
    font-family: "Circular Std Book", sans-serif;
    text-transform: initial;
    margin: 1rem;
    border-radius: 2.5rem;
    padding: .5rem 1.5rem; }
  .btn--grey {
    background: #F2F2F2;
    color: black; }
  .btn--green, .hf-btn input, .contact__btn, .error__btn {
    background: #1F7D49;
    color: white; }
  .btn--black {
    background: black;
    color: white; }
  .btn--back {
    position: absolute;
    top: 1.5rem;
    left: 3rem;
    background: #F2F2F2;
    display: flex;
    align-items: center;
    border-radius: 2.5rem;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    font-family: "Circular Std Black", sans-serif;
    font-size: 1.4rem;
    cursor: pointer; }
    .btn--back svg {
      height: 2rem;
      margin-right: 1rem; }
    .btn--back span {
      line-height: 1; }
    @media (min-width: 480px) {
      .btn--back {
        left: calc(1.5rem + 3rem); } }
    @media (min-width: 768px) {
      .btn--back {
        left: calc(1.5rem + 5rem); } }

.pagination {
  padding-top: 3rem; }
  @media (min-width: 768px) {
    .pagination {
      padding-top: 5rem; } }
  .pagination__nav a {
    background: #F2F2F2;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    .pagination__nav a svg {
      width: .7rem;
      height: auto; }
      .pagination__nav a svg path {
        fill: black; }
  .pagination__next {
    margin-left: 1.5rem; }
  .pagination__previous {
    margin-right: 1.5rem; }
  .pagination .page-numbers {
    color: #F2F2F2; }
    .pagination .page-numbers.current {
      color: black; }

.modal {
  z-index: 9999999999;
  height: calc(100% - 10rem);
  transform: translateY(100vh);
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  overflow-y: scroll;
  position: fixed;
  width: 100%;
  bottom: 0; }
  @media (min-width: 768px) {
    .modal {
      height: calc(100% - 20rem); } }
  .modal__container {
    height: 100%;
    background: white;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    position: relative;
    overflow: hidden; }
  .modal__close {
    background: #F2F2F2;
    border-radius: 50%;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all cubic-bezier(0.75, -0.5, 0, 1.75) 0.3s;
    z-index: 10; }
    .modal__close svg {
      width: 1.5rem; }
      .modal__close svg path {
        fill: black; }

.accordion__intro {
  padding-bottom: 5rem; }
  @media (min-width: 768px) {
    .accordion__intro {
      padding-bottom: 8rem; } }

.accordion__item {
  margin-bottom: 2rem; }
  .accordion__item:last-child {
    margin-bottom: 0; }

.accordion__wrapper.is-active svg {
  transform: rotate(0deg); }

.accordion__title {
  background: white;
  cursor: pointer;
  padding: 1.5rem;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  border-radius: 1rem; }
  @media (max-width: 479px) {
    .accordion__title {
      font-size: 1.6rem; } }
  .accordion__title svg {
    fill: black;
    width: 2rem;
    height: 2rem;
    transform: rotate(-180deg); }

.accordion__panel {
  padding: 0 1.5rem;
  overflow: hidden;
  background: white;
  height: 0;
  top: -1rem;
  position: relative;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem; }
  .accordion__panel a:not(.accordion__link) {
    transition: all ease .3s;
    color: black; }

.accordion__text {
  padding-top: 1.5rem;
  padding-bottom: 1rem; }

.accordion__link {
  background: #1F7D49;
  color: white;
  display: block;
  width: calc(100% + 3rem);
  left: -1.5rem;
  padding: 1.5rem 0rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  position: relative;
  text-align: center;
  bottom: 0;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family: "Circular Std Black", sans-serif; }

.basicLightbox {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  opacity: .01;
  transition: opacity 0.4s ease;
  z-index: 1000;
  will-change: opacity; }
  .basicLightbox--visible {
    opacity: 1; }
  .basicLightbox__placeholder {
    max-width: 100%;
    transform: scale(0.9);
    transition: transform 0.4s ease;
    z-index: 1;
    will-change: transform; }
    .basicLightbox__placeholder > img:first-child:last-child,
    .basicLightbox__placeholder > video:first-child:last-child,
    .basicLightbox__placeholder > iframe:first-child:last-child {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      max-width: 95%;
      max-height: 95%; }
    .basicLightbox__placeholder > video:first-child:last-child,
    .basicLightbox__placeholder > iframe:first-child:last-child {
      pointer-events: auto; }
    .basicLightbox__placeholder > img:first-child:last-child,
    .basicLightbox__placeholder > video:first-child:last-child {
      width: auto;
      height: auto; }
  .basicLightbox--img .basicLightbox__placeholder,
  .basicLightbox--video .basicLightbox__placeholder,
  .basicLightbox--iframe .basicLightbox__placeholder {
    width: 100%;
    height: 100%;
    pointer-events: none; }
  .basicLightbox--visible .basicLightbox__placeholder {
    transform: scale(1); }

.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  z-index: 999999999999;
  top: 0;
  width: 100%; }
  @media (min-width: 768px) {
    .header {
      position: absolute; } }
  .header.is-fixed {
    top: 0;
    position: fixed; }
  .header__container {
    position: relative; }
    @media (min-width: 768px) and (max-width: 991px) {
      .header__container {
        padding-left: 1.5rem;
        padding-right: 1.5rem; } }
  .header__logo {
    display: block;
    float: left;
    display: flex;
    flex-direction: column;
    float: left;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 19rem;
    height: auto;
    z-index: 100000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
    @media (min-width: 768px) and (max-width: 991px) {
      .header__logo {
        width: 17rem; } }
    .header__logo--flask-bg {
      transform: translateX(134px); }
    .header__logo--letter {
      transition: all ease-in .3s; }
    .header__logo.is-disabled .header__logo--flask-2 {
      fill: tan; }

.page__hero {
  position: relative;
  padding-top: 15rem;
  padding-bottom: 15rem; }
  @media (min-width: 768px) {
    .page__hero {
      padding-top: 25rem;
      padding-bottom: 20rem; } }
  @media (min-width: 768px) {
    .page__hero--intersect {
      padding-bottom: calc(25rem + 10rem); } }
  .page__hero #lion {
    position: absolute;
    top: -15rem;
    z-index: 0;
    left: 0; }
    @media (max-width: 767px) {
      .page__hero #lion {
        width: 100%;
        height: 40rem;
        top: -7rem; } }

.page__container {
  position: relative; }

.page__slug {
  padding-bottom: 1rem; }

.page__title {
  position: relative;
  z-index: 10; }
  .page__title span {
    display: block;
    color: #FFB511; }

.page__img-container {
  overflow: hidden;
  position: relative; }
  @media (min-width: 768px) {
    .page__img-container {
      top: -15rem;
      margin-bottom: -15rem; } }

.page__img {
  padding-top: 0;
  z-index: 10;
  background: no-repeat center center;
  background-size: cover;
  border-radius: 2.5rem;
  min-height: 40rem; }
  @media (min-width: 768px) {
    .page__img {
      min-height: 45rem; } }
  @media (min-width: 992px) {
    .page__img {
      min-height: 50rem; } }
  @media (min-width: 1170px) {
    .page__img {
      min-height: 55rem; } }
  @media (min-width: 1600px) {
    .page__img {
      min-height: 65rem; } }
  .page__img--wrapper {
    overflow: hidden; }
  .page__img--placeholder {
    background-image: url("/wp-content/themes/lionlab_v3/assets/img/pictureicon.svg");
    background-size: contain;
    background-color: #C0C9CA; }

@media (min-width: 768px) {
  .nav {
    background: white;
    border-radius: 3rem;
    padding: .5rem; } }

.nav__menu {
  list-style: none;
  position: relative;
  z-index: 100;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center; }
  @media (min-width: 768px) {
    .nav__menu {
      align-items: center; } }
  @media (max-width: 767px) {
    .nav__menu--main {
      flex-direction: column;
      align-items: flex-start;
      padding: 3rem 1.5rem; } }

.nav__item {
  list-style: none;
  display: inline-block; }
  @media (max-width: 767px) {
    .nav__item {
      position: relative; }
      .nav__item.is-active > a {
        color: #FFB511; } }
  @media (min-width: 768px) {
    .nav__item.is-active > a {
      background: #F2F2F2; } }
  @media (min-width: 768px) {
    .nav__item--blog {
      display: none; } }

.nav__link {
  font-family: "Circular Std Black", sans-serif;
  color: black;
  font-size: 1.8rem;
  display: inline-block;
  padding: .5rem 1rem; }
  @media (max-width: 767px) {
    .nav__link.is-active {
      color: #FFB511; } }
  @media (min-width: 768px) {
    .nav__link {
      font-size: 1.4rem;
      padding: 1rem 1.5rem;
      border-radius: 2.5rem; } }

.nav__line {
  position: absolute;
  height: 100%;
  border-radius: 2.5rem;
  left: 0;
  bottom: 0rem;
  top: 0;
  right: 0;
  z-index: -1;
  transition: left 1.2s cubic-bezier(0.75, -0.5, 0, 1.75), width 1.2s cubic-bezier(0.75, -0.5, 0, 1.75); }
  .nav__line.is-active {
    background: #F2F2F2; }

.nav__notifications svg {
  width: auto;
  height: 2rem; }

.nav__notifications a:first-child {
  width: 5.4rem;
  height: 5.4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F2F2F2; }

.nav__notifications:hover {
  cursor: pointer; }

.nav__modal-trigger {
  padding: 0; }
  .nav__modal-trigger button {
    border: none;
    outline: none; }
    .nav__modal-trigger button:hover {
      cursor: pointer; }
  @media (max-width: 767px) {
    .nav__modal-trigger {
      position: fixed;
      bottom: 1.5rem;
      right: 1.5rem; }
      .nav__modal-trigger button:first-child {
        width: 5.4rem;
        height: 5.4rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F2F2F2; }
      .nav__modal-trigger span {
        display: none; }
      .nav__modal-trigger svg {
        width: auto;
        height: 2rem; } }
  @media (min-width: 768px) {
    .nav__modal-trigger svg {
      display: none; }
    .nav__modal-trigger button {
      background: #1F7D49;
      width: auto;
      border-radius: 2.7rem;
      padding: 1.8rem 3rem;
      color: white;
      font-family: "Circular Std Black", sans-serif;
      font-size: 1.4rem; } }

.nav__notifications {
  padding: 1rem; }
  @media (max-width: 767px) {
    .nav__notifications {
      display: none; } }

.nav__dropdown {
  display: none;
  padding: 1.5rem;
  position: absolute;
  top: 100%;
  left: -16.5rem;
  margin-top: 1.5rem;
  background: white;
  max-width: 26rem;
  border-radius: 1.5rem; }
  .nav__dropdown.is-visible {
    display: block; }
  .nav__dropdown-trigger {
    position: relative; }
  .nav__dropdown li {
    padding: 0; }
  .nav__dropdown a:hover {
    text-decoration: none; }

@media (max-width: 767px) {
  .nav--mobile {
    position: fixed;
    z-index: 111111;
    bottom: 0;
    right: 0;
    height: calc(100% - 10rem);
    width: 100%;
    transform: translateY(100%) translateZ(0);
    border-top-right-radius: 2.5rem;
    border-top-left-radius: 2.5rem;
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    background: white; }
    .nav--mobile.is-open {
      transform: translateY(0) translateZ(0); } }

.nav-toggle {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 88888;
  cursor: pointer;
  background: #F2F2F2;
  padding: 1.1rem 2.5rem;
  border-radius: 2.5rem; }
  @media (min-width: 768px) {
    .nav-toggle {
      display: none; } }
  .nav-toggle__label {
    color: black;
    vertical-align: middle;
    padding-right: .5rem;
    font-family: "Circular Std Black", sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    position: relative; }
  .nav-toggle__icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 2rem;
    height: .1rem;
    background: transparent;
    transition: all .3s ease; }
    .nav-toggle__icon::before, .nav-toggle__icon::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: .2rem;
      background: black;
      transition: all .3s ease; }
    .nav-toggle__icon::before {
      bottom: -.3rem; }
    .nav-toggle__icon::after {
      top: -.3rem; }
    body.is-open .nav-toggle__icon {
      background: transparent; }
      body.is-open .nav-toggle__icon::before {
        top: 0;
        transform: rotate(45deg); }
      body.is-open .nav-toggle__icon::after {
        top: 0;
        transform: rotate(-45deg); }

@media (max-width: 767px) {
  .contact {
    padding-top: 5rem !important; } }

.contact--img {
  position: relative; }
  .contact--img:before {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 50%;
    background: #F2F2F2;
    content: '';
    z-index: -1; }

.contact__img {
  border-radius: 2.5rem;
  background: no-repeat center center;
  background-size: cover;
  min-height: 35rem; }
  @media (min-width: 480px) and (max-width: 767px) {
    .contact__img {
      min-height: 40rem; } }
  @media (min-width: 768px) {
    .contact__img {
      min-height: 45rem; } }
  @media (min-width: 992px) {
    .contact__img {
      min-height: 50rem; } }
  @media (min-width: 1170px) {
    .contact__img {
      min-height: 55rem; } }

.contact__col {
  border-radius: 2.5rem;
  padding: 5rem 3rem; }
  .contact__col p:last-child {
    margin-bottom: 0; }

.contact__title {
  padding-bottom: 2.5rem; }

.contact__btn {
  margin-top: 2.5rem; }

.cta__row {
  border-radius: 2.5rem;
  overflow: hidden;
  position: relative;
  background: #F2F2F2; }

.cta__header {
  padding-bottom: 5rem; }

.cta__text, .cta__form {
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (max-width: 991px) {
    .cta__text, .cta__form {
      width: 100%; } }
  @media (min-width: 480px) and (max-width: 767px) {
    .cta__text, .cta__form {
      padding: 3rem; } }
  @media (min-width: 768px) {
    .cta__text, .cta__form {
      padding: 5rem; } }

@media (max-width: 991px) {
  .cta__text {
    padding-bottom: 11rem; } }

@media (min-width: 992px) {
  .cta__text {
    padding: 5rem;
    padding-right: 15rem; } }

@media (min-width: 768px) {
  .cta__text--contact {
    padding-right: 5rem; } }

.cta__text-wrap {
  display: flex;
  padding-top: 5rem; }

.cta__text-link {
  width: 5.4rem;
  height: 5.4rem;
  background: #F2F2F2;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .cta__text-link + .cta__text-link {
    margin-left: 1rem; }
  .cta__text-link svg {
    height: 2rem;
    width: auto; }
    .cta__text-link svg path {
      fill: black; }

@media (min-width: 992px) {
  .cta__form {
    padding-left: 15rem; } }

@media (min-width: 768px) {
  .cta__form--contact {
    padding-left: 5rem; } }

.cta__employees {
  width: 18.6rem;
  height: 18.6rem;
  background: #F2F2F2;
  border-radius: 50%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media (max-width: 991px) {
    .cta__employees {
      margin-bottom: -11rem; } }
  @media (min-width: 992px) {
    .cta__employees {
      position: absolute;
      width: 22.6rem;
      height: 22.6rem; } }
  .cta__employees-img {
    position: absolute; }

.cases__item {
  background: no-repeat center center black;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  padding: 3rem;
  border-radius: 2.5rem;
  overflow: hidden;
  width: calc(100% - 3rem);
  min-height: 40rem;
  margin: 1.5rem;
  position: relative; }
  .cases__item:before {
    content: '';
    background: linear-gradient(to top, black 0%, transparent 100%);
    width: 100%;
    height: 50%;
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 0;
    opacity: 1; }
  @media (min-width: 768px) {
    .cases__item {
      min-height: 50rem;
      width: calc(100% - 3rem); } }
  @media (min-width: 992px) {
    .cases__item {
      min-height: 55rem;
      width: calc(50% - 3rem); } }
  @media (min-width: 1170px) {
    .cases__item {
      min-height: 65rem; } }
  .cases__item--large {
    position: relative; }
    .cases__item--large:before {
      content: '';
      background: linear-gradient(to top, black 0%, transparent 100%);
      width: 100%;
      height: 50%;
      left: 0;
      bottom: 0;
      position: absolute;
      z-index: 0;
      opacity: 0.8; }
    @media (min-width: 768px) {
      .cases__item--large {
        min-height: 55rem;
        margin: 1.5rem;
        width: 100%; } }

.cases__reference {
  align-self: flex-start;
  padding: 3rem;
  margin: 1.5rem;
  border-radius: 2.5rem;
  width: calc(100% - 3rem);
  background: #1F7D49;
  color: white; }
  @media (min-width: 768px) {
    .cases__reference {
      font-size: 2.4rem;
      margin: 1.5rem;
      padding: 5rem; } }
  @media (min-width: 992px) {
    .cases__reference {
      width: calc(50% - 3rem); } }
  .cases__reference-wrap {
    padding-top: 1.5rem; }
    @media (min-width: 768px) {
      .cases__reference-wrap {
        padding-top: 5rem; } }
  .cases__reference-rating {
    display: flex;
    padding-bottom: 3rem; }
    @media (min-width: 768px) {
      .cases__reference-rating {
        padding-bottom: 5rem; } }
    .cases__reference-rating svg {
      width: 3rem;
      height: 3rem;
      margin-left: .3rem;
      line-height: 1; }
      .cases__reference-rating svg:first-child {
        margin-left: 0; }
  .cases__reference-img {
    width: 5.1rem;
    height: 5.1rem;
    background: #F2F2F2;
    border-radius: 50%;
    padding: .5rem; }

.cases__wrap {
  z-index: 10;
  position: relative;
  padding: 0; }
  @media (min-width: 768px) {
    .cases__wrap {
      padding: 0rem 3rem; } }

.cases__header {
  z-index: 10;
  position: relative; }

.cases__title {
  color: white;
  margin-top: 2.5rem; }
  @media (min-width: 768px) {
    .cases__title {
      margin-bottom: 2.5rem; } }
  .cases__title--meta {
    margin-bottom: 2.5rem;
    margin-top: 2.5rem; }

.cases__link {
  align-self: flex-end;
  margin-bottom: .5rem; }

.newsletter__col {
  background: #F2F2F2;
  border-radius: 2.5rem;
  padding: 5rem 3rem; }

.newsletter__title {
  padding-bottom: 3rem; }

.newsletter__form-input {
  padding: 1.5rem;
  border: none;
  font-size: 1.6rem;
  border-radius: 1.5rem;
  outline: none; }

.newsletter__form-submit {
  border: none;
  outline: none;
  margin-top: 3rem; }

.video {
  position: relative;
  overflow: hidden;
  z-index: 1; }
  .video__wrap {
    position: relative;
    width: calc(100% - 3rem);
    border-radius: 2.5rem;
    padding: 0;
    -webkit-mask-image: radial-gradient(white, black);
            mask-image: radial-gradient(white, black); }
    @media (min-width: 480px) and (max-width: 767px) {
      .video__wrap {
        width: calc(100% - 6rem); } }
    @media (min-width: 768px) {
      .video__wrap {
        height: 59vh;
        width: calc(100% - 10rem); } }
    @media (min-width: 768px) and (max-width: 991px) {
      .video__wrap {
        height: 42vh; } }
    @media (min-width: 992px) and (max-width: 1169px) {
      .video__wrap {
        height: 51vh; } }
    @media screen and (min-width: 1400px) {
      .video__wrap {
        height: 56vh; } }
    @media screen and (min-width: 1480px) {
      .video__wrap {
        height: 80vh; } }
  .video__video {
    max-width: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    width: auto;
    height: auto; }
    @media (min-width: 768px) {
      .video__video {
        position: absolute;
        z-index: -100;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%; } }
  .video__controls:hover {
    cursor: pointer; }
  .video__play {
    border-radius: 50%;
    background: #F2F2F2;
    width: 6.5rem;
    height: 6.5rem;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (max-width: 767px) {
      .video__play {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); } }
    @media (min-width: 768px) {
      .video__play {
        width: 8.5rem;
        height: 8.5rem; } }
    .video__play svg {
      height: 1.5rem;
      width: auto;
      fill: black; }
      @media (min-width: 768px) {
        .video__play svg {
          height: 2rem; } }
  .video__close {
    background: #F2F2F2;
    border-radius: 50%;
    position: absolute;
    right: .5rem;
    top: -2.5rem;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transform: scale(1);
    transition: all cubic-bezier(0.75, -0.5, 0, 1.75) 0.3s;
    z-index: 10;
    pointer-events: none; }
    .video__close:hover {
      transform: scale(1.1); }
    .video__close svg {
      width: 1.5rem; }
      .video__close svg path {
        fill: black; }

.basicLightbox__wrapper {
  width: calc(100% - 6rem);
  height: calc(100% - 6rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; }

.services__row {
  border-radius: 2.5rem;
  overflow: hidden;
  position: relative;
  background: #F2F2F2; }

.services__header {
  padding-bottom: 5rem;
  width: 100%; }

.services__text, .services__accordions {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media (min-width: 480px) and (max-width: 767px) {
    .services__text, .services__accordions {
      padding: 3rem; } }
  @media (min-width: 768px) {
    .services__text, .services__accordions {
      padding: 5rem; } }

.services__employees {
  width: 18.6rem;
  height: 18.6rem;
  background: #F2F2F2;
  border-radius: 50%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (max-width: 991px) {
    .services__employees {
      margin-bottom: -8rem; } }
  @media (min-width: 992px) {
    .services__employees {
      position: absolute;
      width: 22.6rem;
      height: 22.6rem; } }
  .services__employees-img {
    position: absolute; }

@media (max-width: 991px) {
  .services__text {
    padding-bottom: 11rem; } }

@media (min-width: 992px) {
  .services__text {
    padding-right: 15rem; } }

@media (min-width: 992px) {
  .services__accordions {
    padding-left: 15rem; } }

.services-columns__column {
  width: calc(100% - 3rem);
  margin: 3rem 1.5rem;
  background: #F2F2F2;
  min-height: 30rem;
  padding-bottom: 5.5rem;
  display: flex;
  border-radius: 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  @media (min-width: 768px) and (max-width: 991px) {
    .services-columns__column {
      width: calc(50% - 3rem); } }
  @media (min-width: 992px) {
    .services-columns__column {
      width: calc(33.33333% - 3rem); } }

.services-columns__consultants {
  max-height: 5rem;
  width: auto;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 50%;
  border: 0.3rem solid #F2F2F2;
  background: black;
  z-index: 10; }
  .services-columns__consultants + .services-columns__consultants {
    right: 4.5rem;
    z-index: 11; }
  .services-columns__consultants + .services-columns__consultants + .services-columns__consultants {
    right: 7.5rem;
    z-index: 11; }

.services-columns__title {
  color: black;
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 100%; }

.services-columns__btn {
  background: #1F7D49;
  color: white;
  display: block;
  width: 100%;
  padding: 1.5rem 0rem;
  border-bottom-right-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family: "Circular Std Black", sans-serif; }

.client-results__intro {
  text-align: center;
  padding-bottom: 5rem; }

@media (max-width: 991px) {
  .client-results__results {
    width: 100%; } }

.client-results__header {
  padding-bottom: 3rem; }

.client-results__item {
  border-radius: 2.5rem;
  border: 0.2rem #F2F2F2 solid;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem; }

.client-results__img {
  flex: 2.5%;
  margin-right: 1.5rem; }
  .client-results__img img {
    vertical-align: middle;
    background: #F2F2F2;
    border-radius: 50%;
    padding: .5rem;
    max-width: 5.1rem;
    max-height: 5.1rem; }

.client-results__title {
  margin: 0;
  flex: 33.3%;
  font-family: "Circular Std Black", sans-serif;
  display: none; }
  @media (min-width: 480px) {
    .client-results__title {
      display: block; } }
  @media (min-width: 768px) {
    .client-results__title {
      margin-left: 1.5rem; } }

.client-results__btns {
  font-size: 1.4rem;
  flex: 33.3%;
  font-family: "Circular Std Black", sans-serif; }

.client-results__btn {
  margin: .5rem;
  padding: .8rem 1.5rem;
  border-radius: .5rem; }

.client-results__text {
  margin: 0;
  flex: 33.3%;
  font-family: "Circular Std Black", sans-serif;
  font-size: 1.6rem; }

.client-results__result {
  font-size: 1.4rem;
  font-family: "Circular Std Black", sans-serif;
  color: #1F7D49;
  display: flex;
  align-items: center; }
  .client-results__result svg {
    margin-left: .5rem; }
  @media (min-width: 768px) {
    .client-results__result {
      margin-right: 1.5rem; } }

.partners__item {
  text-align: center;
  margin: 1.5rem;
  width: calc(100% - 3rem); }
  @media (min-width: 480px) {
    .partners__item {
      width: calc(50% - 3rem); } }

.partners__img {
  max-height: 10.5rem;
  width: auto; }

.single-case__meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3rem 0rem; }
  .single-case__meta-item {
    width: 100%;
    color: black;
    font-size: 1.4rem;
    margin: 1rem 0rem; }
    .single-case__meta-item a {
      color: black;
      transition: all ease .3s;
      margin-left: .5rem; }
      .single-case__meta-item a:hover {
        color: #FFB511; }
    @media (min-width: 768px) {
      .single-case__meta-item {
        width: 50%; } }
    @media (min-width: 992px) {
      .single-case__meta-item {
        width: 25%; } }
  .single-case__meta-desc {
    color: black;
    background: #F2F2F2;
    border-radius: 2.5rem;
    display: inline-block;
    padding: .5rem 1rem;
    font-size: 1.2rem; }
  .single-case__meta-text {
    margin-bottom: 0;
    margin-left: .5rem; }

.single-case__intro a {
  color: black;
  transition: all ease .3s; }

.single-case__intro h1, .single-case__intro h2,
.single-case__intro h3, .single-case__intro h4,
.single-case__intro h5, .single-case__intro h6 {
  padding-bottom: 3rem; }
  .single-case__intro h1:not(:first-child), .single-case__intro h2:not(:first-child),
  .single-case__intro h3:not(:first-child), .single-case__intro h4:not(:first-child),
  .single-case__intro h5:not(:first-child), .single-case__intro h6:not(:first-child) {
    margin-top: 8rem; }

.single-case__title {
  padding-bottom: 3rem; }

.single-case__result {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-radius: 2.5rem;
  margin: 1.5rem;
  display: inline-block;
  padding: 3rem;
  width: 100%; }
  @media (min-width: 768px) {
    .single-case__result {
      width: calc(33.3% - 3rem);
      padding: 3rem; } }

.single-case__browser-header {
  background: #F2F2F2;
  border-top: 4rem solid black;
  border-radius: 2.5rem 2.5rem 0 0; }
  .single-case__browser-header span {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: inline-block;
    margin-right: .2rem;
    position: relative;
    top: -3.5rem; }

.single-case__browser-controls {
  padding-left: 1.5rem; }

.single-case__browser-wrap {
  background: #F2F2F2;
  max-height: 70rem;
  overflow: scroll;
  padding: 0 3rem;
  border-bottom: 3rem solid #F2F2F2;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem; }

.error__row {
  border-radius: 2.5rem;
  overflow: hidden; }
  .error__row:after {
    content: '';
    display: table;
    clear: both; }

.error__col {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 3rem; }
  @media (min-width: 768px) {
    .error__col {
      padding: 8rem 5rem; } }
  @media (max-width: 767px) {
    .error__col {
      width: 100%; } }

.error__icon {
  font-size: 10rem; }

.transition__container {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: visibility;
  transform: translateZ(0);
  transform-style: preserve-3d;
  perspective: 1000; }

.employee--contact {
  position: relative; }
  @media (min-width: 768px) {
    .employee--contact {
      top: -15rem;
      margin-bottom: -15rem; } }

.employee__item {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column; }
  .employee__item img, .employee__item video {
    border-radius: 2.5rem;
    background: #FFB511; }
  .employee__item video {
    width: 100%; }

.employee__wrap {
  position: relative;
  display: flex;
  flex-direction: column; }

.employee__linkedin {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  background: #F2F2F2;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .employee__linkedin svg {
    width: 1.5rem; }
    .employee__linkedin svg path {
      fill: black; }

.employee__position {
  margin-bottom: 1.5rem; }

.employee__name {
  margin-bottom: 1.5rem; }

.employee__position, .employee__link {
  font-size: 1.6rem; }

.employee__position {
  color: #FFB511;
  margin-top: 1.5rem; }

.employee__link {
  color: black; }

/********************LAYOUTS********************/
/* Base Styles */
/* WYSIWYGs */
.wysiwygs__title {
  margin-bottom: 3rem; }
  @media (min-width: 768px) {
    .wysiwygs__title {
      margin-bottom: 5rem; } }

.wysiwygs__intro {
  text-align: center;
  font-size: 1.8rem;
  line-height: 2 !important; }
  @media (min-width: 768px) {
    .wysiwygs__intro {
      font-size: 2.4rem; } }

.wysiwygs__col ul {
  padding-left: 2rem;
  list-style: initial; }

.wysiwygs__col h1:not(.wysiwygs__title), .wysiwygs__col h2:not(.wysiwygs__title),
.wysiwygs__col h3:not(.wysiwygs__title), .wysiwygs__col h4:not(.wysiwygs__title),
.wysiwygs__col h5:not(.wysiwygs__title), .wysiwygs__col h6:not(.wysiwygs__title) {
  padding-top: 3rem;
  padding-bottom: 1.5rem; }

@media (min-width: 768px) {
  .wysiwygs__col.first p:last-child {
    margin-bottom: 0; } }

.wysiwygs__col.last p:last-child {
  margin-bottom: 0; }

.bg--none .page__title span {
  color: #FFB511; }

.bg--black {
  color: white; }

.bg--purple, .bg--green {
  color: white; }
  .bg--purple #lion, .bg--green #lion {
    opacity: .1; }
  .bg--purple .page__title, .bg--green .page__title {
    color: white; }
    .bg--purple .page__title span, .bg--green .page__title span {
      color: #FFB511; }

.flex, .modal__container, .header__container, .cta__row, .cases__row, .cases__reference-wrap, .services__row, .client-results__row, .client-results__item, .partners__row, .single-case__row, .error__row, .error__col, .employee__row, .blog__controls, .blog__row, .references__row, .footer__row, .footer__column--social {
  display: flex; }
  .flex--hvalign, .modal__container {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .flex--valign {
    align-items: center;
    justify-content: center; }
  .flex--column, .footer__column--social {
    flex-direction: column; }
  .flex--justify, .header__container, .cases__reference-wrap, .blog__controls, .footer__column--social {
    justify-content: space-between; }
  .flex--center, .header__container, .cases__reference-wrap, .client-results__item, .partners__row, .references__row {
    align-items: center; }
  .flex--wrap, .cta__row, .cases__row, .cases__reference-wrap, .services__row, .client-results__row, .partners__row, .single-case__row, .error__row, .employee__row, .blog__controls, .blog__row, .references__row, .footer__row {
    flex-wrap: wrap; }
  .flex--end {
    justify-content: flex-end; }

.padding--top {
  padding-top: 5rem; }

.padding--bottom, .newsletter, .error {
  padding-bottom: 5rem; }

.padding--both {
  padding-top: 5rem;
  padding-bottom: 5rem; }

@media (min-width: 768px) {
  .padding--top {
    padding-top: 10rem; }
  .padding--bottom, .newsletter, .error {
    padding-bottom: 10rem; }
  .padding--both {
    padding-top: 10rem;
    padding-bottom: 10rem; } }

.blog__notifications {
  display: inline-block;
  padding: 0;
  margin-bottom: 1.5rem;
  color: black; }
  .blog__notifications:last-child {
    margin-bottom: 0; }
  .blog__notifications p {
    margin-bottom: 0; }
  .blog__notifications-count {
    background: #D11149;
    color: white;
    font-size: 1.2rem;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    text-align: center;
    border: 0.3rem solid white; }
  .blog__notifications-header {
    margin-bottom: 2rem; }
  .blog__notifications-content {
    display: flex; }
  .blog__notifications-title {
    font-size: 1.4rem; }
  .blog__notifications-thumb {
    max-width: 5rem;
    max-height: 5rem;
    border-radius: 50%;
    margin-right: 1.5rem; }
    .blog__notifications-thumb--placeholder {
      background-image: url("/wp-content/themes/lionlab_v3/assets/img/pictureicon.svg");
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      width: 10rem;
      height: 5rem;
      background-color: #C0C9CA; }
  .blog__notifications-meta {
    display: block;
    font-size: 1.3rem; }
  .blog__notifications-btn {
    background: #1F7D49;
    color: white;
    display: block;
    width: calc(100% + 3rem);
    left: -1.5rem;
    padding: 1.5rem 0rem;
    border-bottom-right-radius: 1.3rem;
    border-bottom-left-radius: 1.3rem;
    position: relative;
    text-align: center;
    bottom: -1.5rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: "Circular Std Black", sans-serif; }

.blog__controls {
  position: relative;
  z-index: 20;
  margin-bottom: 1rem;
  width: 100%; }
  @media (max-width: 767px) {
    .blog__controls {
      display: none; } }

.blog__filter-wrap {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden; }

.blog__filter {
  cursor: pointer;
  margin: 1rem 3rem; }
  .blog__filter--dropdown {
    margin: 0;
    display: flex;
    align-items: center; }
    .blog__filter--dropdown:hover {
      cursor: pointer; }
    .blog__filter--dropdown svg {
      width: 1rem;
      height: auto;
      transform: rotate(180deg) translateZ(0);
      transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
      margin-left: 1rem; }
    .blog__filter--dropdown.is-active svg {
      transform: rotate(0deg) translateZ(0); }

.blog__post {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  background: no-repeat center center;
  background-size: cover;
  float: left;
  padding: 3rem;
  border-radius: 2.5rem;
  overflow: hidden;
  min-height: 40rem;
  width: calc(100% - 3rem);
  margin: 1.5rem;
  background-color: #C0C9CA;
  position: relative; }
  .blog__post:before {
    content: '';
    background: linear-gradient(to top, black 0%, transparent 100%);
    width: 100%;
    height: 50%;
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 0;
    opacity: 0.8; }
  @media (min-width: 768px) {
    .blog__post {
      min-height: 50rem;
      width: calc(100% - 3rem); } }
  @media (min-width: 992px) {
    .blog__post {
      min-height: 55rem;
      width: calc(50% - 3rem); } }
  @media (min-width: 1170px) {
    .blog__post {
      min-height: 65rem; } }
  .blog__post--placeholder {
    background-image: url("/wp-content/themes/lionlab_v3/assets/img/pictureicon.svg");
    background-size: contain; }

.blog__wrap {
  z-index: 10;
  position: relative;
  padding: 0; }
  @media (min-width: 768px) {
    .blog__wrap {
      padding: 0rem 3rem; } }

.blog__title {
  color: white;
  position: relative;
  z-index: 10;
  margin-bottom: 0;
  margin-top: 2.5rem; }
  @media (min-width: 768px) {
    .blog__title {
      margin-bottom: 2.5rem; } }

.references__container {
  position: relative; }

.references__item {
  text-align: center;
  width: 50%; }
  @media (min-width: 768px) {
    .references__item {
      width: 25%; } }

.references__img {
  opacity: .1; }

.single__meta {
  padding: 3rem 0rem; }
  .single__meta-wrap {
    align-self: center; }

.single__avatar {
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  max-width: 6rem;
  max-height: 6rem;
  margin-right: 1.5rem;
  background: #F2F2F2;
  padding: .5rem; }

.single__name {
  margin: 0; }

.single__position {
  font-size: 1.3rem; }

.single__content {
  padding-top: 3rem; }
  .single__content a {
    color: black;
    transition: all ease .3s; }
  .single__content h1, .single__content h2,
  .single__content h3, .single__content h4,
  .single__content h5, .single__content h6 {
    padding-top: 3rem;
    padding-bottom: 3rem; }

.footer {
  padding: 5rem 0;
  position: relative; }
  @media (min-width: 768px) {
    .footer {
      padding: 8rem 0; } }
  .footer__column {
    font-size: 1.6rem; }
    @media (max-width: 479px) {
      .footer__column {
        width: 100%;
        text-align: center; }
        .footer__column:last-child {
          margin-bottom: 0; } }
    @media (min-width: 768px) {
      .footer__column {
        font-size: 1.4rem; } }
    @media (max-width: 767px) {
      .footer__column {
        margin-bottom: 5rem; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .footer__column:nth-child(1), .footer__column:nth-child(2) {
        padding-bottom: 5rem; } }
    .footer__column a {
      color: white;
      display: inline-block;
      margin-bottom: 1rem; }
      .footer__column a:last-child {
        margin-bottom: 0; }
    .footer__column a, .footer__column p {
      color: #808080; }
    .footer__column p:last-child {
      margin-bottom: 0; }
  .footer__title {
    color: white;
    margin-bottom: 3rem; }
  .footer__copyright {
    color: #808080; }
    @media (max-width: 479px) {
      .footer__copyright {
        margin-top: 1.5rem; } }


/*# sourceMappingURL=main.css.map*/